---
layout: exhibit_common
---

	{% include "./partials/coverpage.html" %}
	{% set quote="Ants have been using antibiotics in their fight against pathogens for a much longer time." %}	
	{% include "./partials/about.html" %}

	{%- for item in essay.split("\n\n") -%}
	<section id="about" class="w-screen h-full flex-none" style="background-color: white;">
		<div id="about-content">
			<div class="w-screen float-left lg:w-1/2">
				<pre id="description" class="text-sm ml-10 mr-10 mt-32 lg:mt-0 2xl:text-2xl w-auto xl:w-3/5 lg:ml-32 " style="font-family: 'Trade Gothic LT Std'; font-weight:400; white-space:pre-wrap;">{{item | safe}}</pre>
			</div>

		</div>
	</section>
	{%- endfor -%}


	{% include "./partials/author_section.html" %}
	
	
	{% include "./partials/primary_section.html" %}

