---
layout: exhibit_common
---

	 <section id="home"  class="w-full lg:w-screen block lg:flex-none lg:flex-col lg:flex-nowrap px-auto lg-ml-20 lg:pl-40 pt-5" style="background-color: #2d2d2d;">
		<div  class="float-left lg:w-1/3 lg:h-full">
			<div class="pl-px">
				<h1 id="title" class="text-4xl ml-5 mt-10 w-auto lg:text-4xl xl:text-7xl mt-10 lg:mt-40 text-white text-left tracking-normal" style="font-weight:700; font-family: 'Trade Gothic LT Std';">{{title}}</h1>
				<h3 id="subtitle" class="text-xl  ml-5 w-auto lg:text-xl md:text-xl xl:text-xl mt-5 lg:mt-10  w-10 xl:w-full" style="font-weight:400; color:#a3a3a3; font-family: 'Trade Gothic LT Std';">{{subtitle}}</h3>
				<h3 id="medium" class="text-sm  ml-5 mt-10 w-auto lg:text-base xl:text-xl mt-5 2xl:mt-20 lg:mt-10 lg:w-44 2xl:w-full text-white" style="font-weight:400; font-family: 'Trade Gothic LT Std';">Medium : {{medium}}</h3>
				<h3 id="year" class="text-sm  ml-5 mt-5 w-auto  xl:text-xl mt-5 lg:mt-10 text-white" style="font-weight:400; font-family: 'Trade Gothic LT Std';">Year : {{year}}</h3>
			</div>
			<h3 id="scrollordrag" class="hidden text-lg lg:block 2xl:text-2xl mt-5 2xl:mt-64" style="font-weight:400; color:#a3a3a3; font-family: 'Trade Gothic LT Std';">Scroll to enter Exhibit</h3>
		</div>
		<div class="float-right w-screen md:w-full my-80 lg:h-full lg:my-auto lg:w-2/3">
		</div>
	</section>


