---
layout: exhibit_common
---

	{% set embedwebsite="true" %}
	{% include "./partials/coverpage.html" %}
	{% set quote="This experience reveals how even the most banal action, like touching a handrail, can have unforeseen consequences." %}
	{% include "./partials/about.html" %}
	{% include "./partials/author_section.html" %}


	<div class="block w-screen h-screen lg:flex lg:flex-none">
			<embed class="processimg mx-auto" src={{exhibitembed1}} width="600px" height="auto" style="min-width:200px;">	
	</div>
	{% include "./partials/process_section.html" %}


	



