---
layout: exhibit_common
---

	{% include "./partials/coverpage.html" %}
	{% include "./partials/about.html" %}
	{% include "./partials/author_section.html" %}

	<div id="process-images" class="process-images flex flex-col lg:flex-row flex-none w-auto overflow-x-hidden overflow-y-hidden pb-40 lg:pb-0">
	{%- for images in exhibitimages -%}
	<section class=" w-full pt-12 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto flex-initial lg:ml-40" style="background-color: #2d2d2d;">
		<img class="processimg mx-auto" src={{images.privis}} width="600px" height="auto" style="min-width:200px;" oncontextmenu="return false" ondragstart="return false">	
		<p class=" text-sm pb-0 lg:pb-20 lg:w-full" style="width:600px; text-align:justify; font-weight:200; color:#fff; margin-top:30px; font-family: 'Trade Gothic LT Std';">{{images.pritxt}}</p>
	</section>
	{%- endfor -%}	
	</div>

	<div id="process-images-2" class="process-images flex flex-col lg:flex-row flex-none w-auto overflow-x-hidden overflow-y-hidden pb-40 lg:pb-0">
		{%- for images in exhibitimages2 -%}
		<section class=" w-full pt-12 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto flex-initial lg:ml-40" style="background-color: #2d2d2d;">
			<img class="processimg mx-auto" src={{images.privis}} width="600px" height="auto" style="min-width:200px;" oncontextmenu="return false" ondragstart="return false">	
			<p class=" text-sm pb-0 lg:pb-20 lg:w-full" style="width:600px; text-align:justify; font-weight:200; color:#fff; margin-top:30px; font-family: 'Trade Gothic LT Std';">{{images.pritxt}}</p>
		</section>
		{%- endfor -%}	
	</div>

	<div id="process-videos" class="process-images flex flex-col lg:flex-row flex-none w-auto overflow-x-hidden overflow-y-hidden pb-40 lg:pb-0">
		{%- for video in exhibitvideos -%}
		<section class=" w-full pt-12 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto flex-initial lg:ml-40" style="background-color: #2d2d2d;">
			<iframe id="iframe2020" class="iframes w-full h-full"  src={{video.privis}}
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			<p class=" text-sm pb-0 lg:pb-20 lg:w-full" style="width:600px; text-align:justify; font-weight:200; color:#fff; margin-top:30px; font-family: 'Trade Gothic LT Std';">{{video.pritxt}}</p>
		</section>
		{%- endfor -%}	
	</div>
	

	<section id="further">
	
	{%- for links in readinglist -%}	
	<div>
		<a href={{links.quadreadlink}}><span>{{links.quadreadtxt}}</span></a>
	</div>
	{%- endfor -%}	
	{%- for links in listeninglist -%}	
	<div>
		<a href={{links.quadlistlink}}><span>{{links.quadlisttxt}}</span></a>
	</div>
	{%- endfor -%}	

	</section>


