<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{title}}
		</title>
		{% if description %}
		<meta name="description" content="{{description}}"/>
		{% endif %}
		{% block head %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		{% if prism == true %}
		<link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
		{% endif %}
	</head>
	<body>
		<main class="flex">
			<div>
				{% include "./partials/navbar.html" %}
			</div>
			<div class="w-auto fixed ml-20">
				{{ content | safe }}
			</div>

		</main>
		<script src="/static/js/alpine.js"></script>
		<script src="/static/js/scroll.js"></script>

		{% if path == "home" %}
		<!-- Netlify Identity Widget -->
		<!-- Needed only if you are using Netlify Identity feature -->
		<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		{% endif %}

		<script>
			document.addEventListener('wheel', (e) => {
				document.getElementById('main').scrollLeft += e.deltaY;
			});

			
			document.addEventListener('DOMContentLoaded', function() {
				const ele = document.getElementById('main');
			
				let pos = { top: 0, left: 0, x: 0, y: 0 };
			
				const mouseDownHandler = function(e) {
					ele.style.cursor = 'grabbing';
					ele.style.userSelect = 'none';
			
					pos = {
						left: ele.scrollLeft,
						top: ele.scrollTop,
						// Get the current mouse position
						x: e.clientX,
						y: e.clientY,
					};
			
					document.addEventListener('mousemove', mouseMoveHandler);
					document.addEventListener('mouseup', mouseUpHandler);
				};
			
				const mouseMoveHandler = function(e) {
					// How far the mouse has been moved
					const dx = e.clientX - pos.x;
					const dy = e.clientY - pos.y;
			
					// Scroll the element
					ele.scrollTop = pos.top - dy;
					ele.scrollLeft = pos.left - dx;
				};
			
				const mouseUpHandler = function() {
					ele.style.cursor = 'default';
					ele.style.removeProperty('user-select');
			
					document.removeEventListener('mousemove', mouseMoveHandler);
					document.removeEventListener('mouseup', mouseUpHandler);
				};
			
				// Attach the handler
				ele.addEventListener('mousedown', mouseDownHandler);
			});
		</script>
	</body>
</html>
