<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{title}}
		</title>
		{% if description %}
		<meta name="description" content="{{description}}"/>
		{% endif %}
		{% block head %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		{% if prism == true %}
		<link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
		{% endif %}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Literata&display=swap" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/trade-gothic-lt-std" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	</head>

	{{content | safe }}
</html>
