---
layout: default
---

<link rel="stylesheet" type="text/css" href="/static/css/myimage.css">
<body style="overflow:hidden;">
	<main class="main-stuff block lg:flex lg:flex-col;">

		<div class="w-screen fixed">
			<div >
				{% include "./partials/navbar.html" %}
				<div class="flex flex-col lg:flex-row overflow-x-hidden h-screen w-auto " id="main" style="background-color: #2d2d2d; scroll-snap-type:proximity;"> 
					{{ content | safe }}
				</div>
			</div>
	</main>
</body>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}

<script type="text/javascript" src="/static/js/exhibit_scroll.js"></script>
