---
layout: default
---

<link rel="stylesheet" type="text/css" href="/static/css/myimage.css">
<body style="overflow:hidden">
	<main class="main-stuff block lg:flex lg:flex-col">
		<div id="mobile-menu" class="invisible absolute top-0 left-0 w-screen h-screen" style="z-index:1000; background-color:rgb(248, 210, 216);">
			<div class="w-full h-20 flex flex-row" style="border: 2px solid #333;">
				<div class="h-auto w-20 md:bottom-0 md:fixed">
					<a href="/" >
						<img class="w-20" src="/static/img/SGLogo_Black_Transparent.png"></img>
					</a>
				</div>
				<p class="flex-grow text-center leading-20" style="font-family: 'Literata';">Menu</p>
				<button id='menu-close-button' class="w-10 text-2xl">X</button>
			</div>

			<ul>
				<li>About</li>
				<li>Scholar</li>
				<li>Process</li>
				<li>Take it further</li>
			</ul>
		</div>

		<div class="w-screen fixed">
			<div >
				{% include "./partials/navbar.html" %}
				<div class="flex flex-col lg:flex-row overflow-x-hidden h-screen w-screen right-0" id="main" style="background-color: #2d2d2d; scroll-snap-type:proximity"> 
					<div id="nav-items-container" class="hidden lg:flex lg:fixed lg:mt-20 lg:ml-32" style="visibility: hidden;">
						<button id="backbutton">

							<svg width="24" height="30" viewBox="0 0 24 24" fill="none"
													xmlns="http://www.w3.org/2000/svg">
								<path
									d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z"
									fill="#a3a3a3" /></svg>
						</button>
						<ul id="nav-items" class="list-style-none h-30 text-3xl">
							<li  class="inline lg:m-5 xl:m-10 lg:text-md xl:text-4xl"><a id="nav-item-about"   style="color:#a3a3a3; font-weight:700; letter-spacing:2px; font-family: 'Playfair Display';" href="#about">About</a></li>
							<li  class="inline lg:m-5 xl:m-10 lg:text-md xl:text-4xl"><a id="nav-item-scholar" style="color:#a3a3a3; font-weight:700; letter-spacing:2px; font-family: 'Playfair Display';" href="#scholar">Artist</a></li>
							<li  class="inline lg:m-5 xl:m-10 lg:text-md xl:text-4xl"><a id="nav-item-process" style="color:#a3a3a3; font-weight:700; letter-spacing:2px; font-family: 'Playfair Display';" href="#process">Process</a></li>
							<li  class="inline lg:m-5 xl:m-10 lg:text-md xl:text-4xl"><a id="nav-item-further" style="color:#a3a3a3; font-weight:700; letter-spacing:2px; font-family: 'Playfair Display';" href="#takeitfurther">Take it further</a></li>
						</ul>
					</div>

					{{ content | safe }}
				</div>
			</div>
	</main>
</body>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}

<script type="text/javascript" src="/static/js/exhibit_scroll.js"></script>
