---
layout: default
---

<link rel="stylesheet" type="text/css" href="/static/css/myimage.css">
<body style="overflow:hidden;">
	<main class="main-stuff block lg:flex lg:flex-col;">
		<div id="mobile-menu" class="invisible absolute top-0 left-0 w-screen h-screen" style="z-index:1000; background-color:rgb(248, 210, 216);">
			<div class="w-full h-20 flex flex-row" style="border: 2px solid #333;">
				<div class="h-auto w-20 md:bottom-0 md:fixed">
					<a href="/" >
						<img class="w-20" src="/static/img/SGLogo_Black_Transparent.png"></img>
					</a>
				</div>
				<p class="flex-grow text-center leading-20" style="font-family: 'Literata';">Menu</p>
				<button id='menu-close-button' class="w-10 text-2xl">X</button>
			</div>

			<ul>
				<li>About</li>
				<li>Scholar</li>
				<li>Process</li>
				<li>Take it further</li>
			</ul>
		</div>

		<div class="w-screen fixed">
			<div >
				{% include "./partials/navbar.html" %}
				<div class="flex flex-col lg:flex-row overflow-x-hidden h-screen w-auto " id="main" style="background-color: #2d2d2d; scroll-snap-type:proximity;"> 
					{{ content | safe }}
				</div>
			</div>
	</main>
</body>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}

<script type="text/javascript" src="/static/js/exhibit_scroll.js"></script>
