---
layout: exhibit_common
---

	{% set embedwebsite="true" %}
	{% include "./partials/coverpage.html" %}
	{% if kannada == 'true' %}
		{% set quote="ಸೋನಿಯಾ ಶಾ ಅನ್ವೇಷಕ ಪತ್ರಕರ್ತರಾಗಿ, ವೈಜ್ಞಾನಿಕ ಇತಿಹಾಸಕಾರರಾಗಿ ಮತ್ತು ಪುರಸ್ಕೃತ ಬರಹಗಾರರಾಗಿ  ಕಾರ್ಯ ನಿರವಹಿಸುತ್ತಿದ್ದಾರೆ." %}	
	{% else %}
		{% set quote="The epidemic in Haiti was the worst cholera outbreak in recent history and it left the country reeling." %}	
	{% endif %}

	{% include "./partials/about_section.html" %}
	{% include "./partials/author_section.html" %}

	<section id="#further">

	</section>


