---
layout: default
---


<div class="flex overflow-x-hidden h-screen w-screen right-0" id="main" > 

	{% include "./partials/exhibit_title.html" %}
	
	
		<div class="fixed mt-20 ml-32">
			<ul class="list-style-none h-30 text-3xl">
				<li class="inline m-5"><a href="#about">About</a></li>
				<li class="inline m-5"><a href="#scholar">Scholar</a></li>
				<li class="inline m-5"><a href="#process">Process</a></li>
				<li class="inline m-5">Take it further</li>
			</ul>
		</div>
		<section id="about" class="w-screen flex-none">
			<div class="float-left mt-40 w-1/2">
				<pre style="font-family:'Times New Roman', Times, serif; font-size: 22px; font-weight:400; white-space:pre-wrap">{{description | safe}}</pre>
			</div>
		</section>
		{%- for item in essay.split("\n\n") -%}
		<section class="w-screen flex-none">
			<div class="float-left mt-40 w-1/2">
				<pre style="font-family:'Times New Roman', Times, serif; font-size: 22px; font-weight:400; white-space:pre-wrap">{{item | safe}}</pre>
			</div>
		</section>
		{%- endfor -%}
		{%- for images in exhibitimages -%}
		<section id="process" class="w-screen flex flex-none">
			<div class="float-left mt-40 bottom-0 w-1/3">
				<p style="font-size:20px; font-weight:400; margin-left:150px;">{{images.pritxt}}</p>
			</div>
			<div class="float-right">
				<img src={{images.privis}} style="width:40%; height:auto; margin-top:140px; margin-left:400px;" oncontextmenu="return false" ondragstart="return false">	
			</div>
		</section>
		{%- endfor -%}	
		<section id="scholar" class="w-screen flex flex-none" style="background-color: #ec4646;">
			<div class="float-left mt-40 w-2/5">
				<img class="mx-auto" src={{authorimage}} width="50%" style="border-radius:10px;" oncontextmenu="return false" ondragstart="return false">
			</div>
			<div class="float-right w-3/5">
				<p class="mt-40" style="font-size: 20px; color:#333; ">About the artist</p>
				<p style="font-weight: 700; font-size:40px; color:#333;">Christos Lynteris</p>
				<p class="mt-10 w-2/3" style="font-size: 24px; font-weight: 400; text-align:justify; color:white;">{{authorbio | safe}}</p>
			</div>
		</section>
</div>
