---
layout: default
---


<div class="flex overflow-x-hidden h-screen w-screen right-0" id="main" > 

	{% include "./partials/exhibit_title.html" %}
	
		
	
	<section class="w-screen flex-none" >
		<div >
			<ul class="list-style-none h-30 text-3xl">
				<li class="inline">About</li>
				<li class="inline">Scholar</li>
				<li class="inline">Process</li>
				<li class="inline">Take it further</li>
			</ul>
		</div>
		<p>{{description | safe}}</p>
	</section>
	<section class="w-screen flex-none">
		<p>{{essay | safe}}</p>
	</section>
	{%- for images in exhibitimages -%}
	<section  class="w-screen flex-none">
		<img src={{images.privis}} style="height:500px" oncontextmenu="return false" ondragstart="return false">	
		<p>{{images.pritxt}}</p>
	</section>
	{%- endfor -%}	
	<section  class="w-screen flex-none">
		<img src={{authorimage}}>
		<p>{{authorbio | safe}}</p>
	</section>
		

</div>
