---
layout: exhibit_common
---

	
	{% include "./partials/coverpage.html" %}
	{% include "./partials/about_section.html" %}
	<section class="w-auto h-full max-h-full flex-none bg-white">
		<div class = "flex flex-row w-auto h-full pt-36">
			<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-white">
				<iframe class="w-192 h-auto" allowfullscreen="true" style="border:none;"  src={{exhibitembed[1].privis}}></iframe>
				<p class="self-end text-sm pl-10 w-96 font-normal text-black
				{{"font-tunga" if kannada else "font-trade"}}
				">
				<a href="{{exhibitembed[1].pritxt}}" target="_blank" style="text-decoration: underline;">{{"ಪ್ರದರ್ಶಿಕೆಯನ್ನು ನೋಡಲು ಇಲ್ಲಿ ಕ್ಲಿಕ್‌ ಮಾಡಿ" if kannada else "CLICK HERE TO EXPLORE THE EXHIBIT"}}
					</a>
				</p>
			</div>
		</div>
	</section>

	{% include "./partials/primary_section.html" %}
	{% include "./partials/author_section.html" %}



