---
layout: exhibit_common
---


	{% include "./partials/coverpage.html" %}
	{% include "./partials/about.html" %}
	{% include "./partials/primary_section.html" %}
	<div class = "flex flex-row w-auto h-full pt-36">
			<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-trueGray-750">
				<embed class="embed w-auto h-full" src={{privisafter}}>	
				<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-white">{{pritxt}}</p>
			</div>
		</div>
	{% include "./partials/author_section.html" %}
	

	



