---
layout: exhibit_common
---

	{% include "./partials/coverpage.html" %}
	{% include "./partials/about.html" %}
	<section class="w-auto h-full max-h-full flex-none bg-white">
		<div class = "flex flex-row w-auto h-full pt-36">
			<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-white">
				<img class="w-192 h-auto" src="{{exhibitimages[0].privis}}"  oncontextmenu="return false" ondragstart="return false"/>
				<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-black"><a href="https://collection-of-laughs.nowtransmitting.com/" target="_blank">CLICK HERE TO EXPLORE THE ARTWORK</a></p>
			</div>
		</div>
	</section>
	{% include "./partials/author_section.html" %}
	{% include "./partials/process_section.html" %}

	



