---
layout: exhibit_common
---

	{% include "./partials/coverpage.html" %}
	{% include "./partials/about_section.html" %}
	<section class="w-screen lg:w-auto h-auto lg:h-full lg:max-h-full lg:pr-20 flex-none bg-white pb-16 lg:pb-0">
		<div class = "flex flex-col lg:flex-row w-full lg:w-auto h-auto lg:h-full lg:pt-36">
			<div class="flex flex-col flex-none w-full h-auto px-10 py-10
				    lg:flex-row lg:w-auto lg:h-5/6 lg:pl-12 lg:pr-12 lg:mx-auto lg:p-0 lg:ml-40 bg-white">
				<img class="w-full lg:w-192 h-auto" src="{{exhibitimages[0].privis}}"  oncontextmenu="return false" ondragstart="return false"/>
				<p class="self-end text-sm pt-6 lg:pl-10 w-full lg:w-96 font-normal font-trade text-black
				{{"font-baloo" if kannada else "font-trade"}}
                ">
                <a href="https://collection-of-laughs.nowtransmitting.com/" target="_blank" style="text-decoration: underline;">
                    {{"ಪ್ರದರ್ಶಿಕೆಯನ್ನು ನೋಡಲು ಇಲ್ಲಿ ಕ್ಲಿಕ್‌ ಮಾಡಿ" if kannada else "CLICK HERE TO EXPLORE THE EXHIBIT"}}
                </a>
                </p>
			</div>
		</div>
	</section>
	{% include "./partials/author_section.html" %}
	{% include "./partials/process_section.html" %}

	



