---
layout: default
title: Contagion
---
<body class="">
	
				{% include "./_includes/partials/navbar.html" %}
				<div id="about-content" class=""> 
                    
                    <h2 class="font-display font-extrabold text-4xl">About</h2>

                    <!-- top navbar for about page  -->
                    <div id="nav-items-container" class="lg:flex font-trade font-bold text-2xl text-red-650">
                        <ul id="nav-items" class="list-style-none flex flex-row">
                            <li class=""><a style="letter-spacing:1px; " href="#about">About Contagion</a></li>
                            <li class=""><a style="letter-spacing:1px;" href="#curators">Curators</a></li>
                            <li class=""><a style="letter-spacing:1px;" href="#academic-advisors">Academic Advisors</a></li>
                            <li class=""><a style="letter-spacing:1px;" href="#content-partners">Content Partners</a></li>
                            <li class=""><a style="letter-spacing:1px;" href="#programme-partners">Programme Partners</a></li>
                            <li class=""><a style="letter-spacing:1px;" href="#production">Exhibition Design and Production</a></li>
                        </ul>
                    </div>
                    
                    <div id="long-section" class="flex flex-row">
                        <!-- about page section -->
                        {% include "./about1.html" %}
                        <!-- <div>item1</div>
                        <div>item1</div>
                        <div>item1</div>
                        <div>item1</div> -->

                    </div>
                    
				</div>
			
</body>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}

<!-- <script type="text/javascript" src="/static/js/exhibit_scroll.js"></script> -->
<link rel="stylesheet" href="/static/css/about.css">