<section id="authors" class="block w-full lg:w-auto h-auto lg:h-screen lg:flex lg:flex-none bg-red-650">
		<div class="w-full lg:w-240 pt-16 lg:pt-36">
			<div class="w-3/5 h-2/5 mx-auto">
				{% if speakerimage %}
				<img class="object-scale-down w-full lg:w-auto h-auto lg:h-full rounded-lg shadow-lg" src={{speakerimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-10/12 lg:w-3/5 mx-auto py-10 lg:pt-10">
				<p class="text-xl mx-auto text-left font-bold font-trade text-black">{{speakername}}</p>
				<p class="text-base mx-auto text-left font-bold font-trade text-black">{{speakerfield}}</p>
				
				{% if speakerbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal font-trade">{{speakerbio | markdownify | safe}}</pre>
				{% endif %}
			</div>
		</div>
</section>


