<section id="authors" class="block w-full lg:w-auto h-auto lg:h-screen lg:flex lg:flex-none bg-red-650">
		<div class="w-screen lg:w-240 pt-16 lg:pt-36 px-10 lg:px-0 ">
			<div class="w-3/5 h-2/5 mx-0 lg:mx-auto">
				{% if speakerimage %}
				<img class="object-scale-down w-full lg:w-auto h-auto lg:h-full shadow-lg" src={{speakerimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-full lg:w-3/5 pt-10 pb-10 lg:pb-0 lg:pt-10 mx-auto
			     {{ "font-baloo" if kannada else "font-trade" }}
			">
				<p class="text-xl text-left font-bold font-trade text-black">{{speakername}}</p>
				<p class="text-base text-left font-bold font-trade text-black">{{speakerfield}}</p>
				
				{% if speakerbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal 
				     {{ "font-baloo" if kannada else "font-trade" }}
				">
					{{speakerbio | markdownify | safe}}
				</pre>
				{% endif %}
			</div>
		</div>
</section>


