<section id="authors" class="block w-auto h-auto bg-blue-pg pb-20
			     lg:h-screen lg:flex lg:flex-none lg:pb-0">
		<div class="w-screen pt-20 px-10 
			    lg:w-192 lg:pt-36 lg:px-0">
			<div class="w-3/5 lg:w-full lg:px-32 lg:h-2/5 mx-auto">
				{% if expertpic %}
				<img class="object-scale-down w-full h-auto lg:w-auto lg:h-full shadow-lg" src={{expertpic}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-full lg:px-32 mx-auto pt-10">
				<p class="text-xl mx-auto text-left font-bold text-black
				   {{ "font-baloo" if kannada else "font-trade" }}
				">
					{{expertname}}
				</p>
				
				{% if expertbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal 
				     {{ "font-baloo" if kannada else "font-trade" }}
				">
					{{expertbio | markdownify | safe}}
				</pre>
				{% endif %}
			</div>
		</div>
		{% if disname %}
		<div class="w-screen pt-20 px-10 
			    lg:w-192 lg:pt-36 lg:px-0">
			<div class="w-3/5 lg:w-full lg:px-32 lg:h-2/5 mx-auto">
				{% if dispic %}
				<img class="object-scale-down w-full h-auto lg:w-auto lg:h-full shadow-lg" src={{dispic}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-full lg:px-32 mx-auto pt-10">
				<p class="text-xl mx-auto text-left font-bold text-black
				   {{ "font-baloo" if kannada else "font-trade" }}
				">
					{{disname}}
				</p>
				
				{% if disbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal font-trade
				     {{ "font-baloo" if kannada else "font-trade" }}
				">
					{{disbio | markdownify | safe}}
				</pre>
				{% endif %}
			</div>
		</div>
		{% endif %}

</section>


