<section id="home"  class="block w-full lg:w-screen lg:flex-none lg:flex-col lg:flex-nowrap lg:pl-20 bg-trueGray-750">
	<div class="float-left flex w-screen lg:w-1/3 lg:h-full pl-10 lg:pl-20 lg:pt-36">
		<div class="w-full pt-24">
			<p class="text-6xl w-auto font-trade font-bold text-white">{{title}}</p>
			<p class="text-base w-auto font-trade text-white">{{date.toDateString()}}</p>
			<p class="text-base w-auto font-trade text-white">{{date.toTimeString()}}</p>
			{% if link %}
			<a class="text-base w-auto font-trade text-white" href={{link}}>Click to register</a>
			{% endif %}
		</div>
	</div>

	<div id="scroll-arrow" class="hidden lg:flex lg:flex-none fixed top-10 right-10">
		<span class="text-white m-1 font-trade" >Scroll to know more</span>
		<svg  class="w-6 transform rotate-180" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path	d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" 
			fill="#fff" />
		</svg>
	</div>
	
</section>


