@media (max-height: 768px){
	#subtitle{
		margin-top:10px;
	}
	#medium{
		margin-top:10px;	
	}
	#year{
		margin-top:10px;
	}
	#scrollordrag{
		margin-top:120px;
	}
	#authorbio{
		font-size:20px;
		width:90%;
	}
	#description{
		font-size:20px;
		width:90%;
	}
	.processimg{
		width: 500px;
	}
}

@media (max-width: 768px){
	#scrollordrag{
		margin-top:50px;
	}

	
}
@media (min-width: 768px) { 
	.main-stuff{
		width: 100%;
		height: auto;
	}
	#process{
		margin-right:60px;
	}
	#home{
		margin-top:5%;
	}
	#about-content{
		margin-top:5%;
	}
	.scholar-content{
		margin-top:5%;
 	}
	 .process-images{
		margin-top:5%;
 	}

}
@media (max-width: 1023px){
	.iframes{
		height:320px;
		width:95%;
		margin:25% auto;
	}
	
	#quote{
		font-size:20px;
	}
}
@media (min-width: 1024px) { 
	.iframes{
		width:640px;
		height:320px;
	}
	#quote{
		font-size:40px;
	}
}
@media (min-width: 1280px) { 
	.iframes{
		width:800px;
		height:400px;
		margin:0 auto;
	}
	#home{
		margin-top:10%;
 	}
	#about-content{
		margin-top:10%;
 	}
	 .scholar-content{
		margin-top:10%;
 	}
	 .process-images{
		margin-top:10%;
 	}
	#authorbio{
		font-size:20px;
		width:90%;
	}
	#description{
		font-size:20px;
		width:60%;
	}
	#quote{
		font-size:60px;
		letter-spacing:normal;
	}
}

