@tailwind base;
@tailwind components;

@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade_gothic_sv/TradeGothicLTStd.otf') format('opentype');
}

@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade_gothic_sv/TradeGothicLTStd-Bd2.otf') format('opentype'); 
	font-weight: bold;
}

@font-face {
	font-family: 'Tunga';
	src: url('../fonts/TungaRegular.otf') format('opentype');
}

@font-face {
	font-family: 'Tunga';
	src: url('../fonts/TungaBold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Baloo Tamma';
	src: url('../fonts/BalooRegular.otf') format('opentype');
}

@font-face {
	font-family: 'Baloo Tamma';
	src: url('../fonts/BalooBold.otf') format('opentype');
	font-weight: bold;
}


@tailwind utilities;

/*Your Custom CSS Goes here*/
@layer utilities {
  .scroll-snap {
    scroll-snap-type: proximity;
  }  
  #about a {
	  @apply underline; 
  }

  #authors a {
		@apply underline;
  }
}

