@tailwind base;
@tailwind components;

@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade_gothic_sv/TradeGothicLTStd.otf') format('opentype');
}

@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade_gothic_sv/TradeGothicLTStd-Bd2.otf') format('opentype'); 
	font-weight: bold;
}

@tailwind utilities;

/*Your Custom CSS Goes here*/
@layer utilities {
  .scroll-snap {
    scroll-snap-type: proximity;
  }  
}

