<section class="w-full lg:w-auto h-auto lg:h-full lg:max-h-full lg:pl-32 lg:pr-32 lg:pr-20 pt-16 flex-none bg-white">
	<div class = "flex flex-col lg:flex-row h-full">
		<div class="w-full h-auto lg:w-768 lg:h-full">
			<div class="h-auto">
				<p class="mx-6 text-4xl mb-3
				   {{ "font-baloo" if kannada else "font-display" }}
				">
					{{ "ಪ್ರಸಕ್ತ ಅಧ್ಯಯನ" if kannada else "Read Now" }}
				</p>
				<div class="mx-6 w-20 h-0 border border-solid border-red-650"></div>
			</div>
			<div class = "w-full lg:w-192 mx-6 h-auto lg:h-5/6 flex flex-col lg:flex-wrap">	
				{% for book in openbooklist %}
				<div class="h-1/2 flex flex-col lg:flex-row py-6 lg:pl-0 pr-10 lg:pr-6">
					<iframe class= "w-full h-48 lg:h-auto lg:w-1/3" src="{{book.listlink}}" allowfullscreen="true" ></iframe>
					<div class="w-full lg:w-2/3 pt-6 lg:pt-0 lg:px-6">
						<p class= "text-base font-bold 
						   {{ "font-baloo" if kannada else "font-trade" }}
						">
							{{book.title}}
						</p>
						<p class= "text-base 
						   {{ "font-baloo" if kannada else "font-trade" }}
						">
							<i>{{book.author}}</i>
						</p>
						</br>
						<div class= "text-sm 
						   {{ "font-baloo" if kannada else "font-trade" }}
						">
							{{book.about | markdownify | safe}}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="w-full h-auto lg:w-2112 lg:ml-32 lg:h-full">
			<div class="h-auto">
				<p class="mx-6 text-4xl mb-3
				   {{ "font-baloo" if kannada else "font-display" }}
				">
					{{ "ಪುಸ್ತಕಗಳ ಶಿಫಾರಸ್ಸು" if kannada else "Recommended Reading" }}
				</p>
				<div class="mx-6 w-20 h-0 border border-solid border-red-650"></div>
			</div>
			<div class = "w-full lg:w-192 mx-6 h-auto lg:h-5/6 flex flex-col lg:flex-wrap">	
				{% for book in recbooklist %}
				<div class="h-1/2 flex flex-col lg:flex-row py-6 lg:pl-0 pr-10 lg:pr-6">
					<img class= "w-full h-auto lg:h-auto lg:w-1/3" src="{{book.coverimage}}">
					<div class="w-2/3 px-6">
					<div class="w-full lg:w-2/3 pt-6 lg:pt-0 lg:px-6">
						<p class= "text-base font-bold 
						   {{ "font-baloo" if kannada else "font-trade" }}
						">{{book.title}}</p>
						<p class= "text-base 
						   {{ "font-baloo" if kannada else "font-trade" }}
						"><i>{{book.author}}</i></p>
						</br>
						<div class= "text-sm mb-3
						   {{ "font-baloo" if kannada else "font-trade" }}
						">{{book.about | markdownify | safe}}</div>
						<a href="{{book.link}}">
						<button class="text-xs py-2 px-12 rounded-sm border border-solid border-black
						   {{ "font-baloo" if kannada else "font-trade" }}
						">
							{{ "ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ" if kannada else "Know More" }}
						</button>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="w-full h-auto lg:w-1152 lg:ml-32 lg:h-full">
			<div class="h-auto">
				<p class="mx-6 text-4xl mb-3
				   {{ "font-baloo" if kannada else "font-display" }}
				">
					{{ "ನಮ್ಮ ಭಾಷಣಕಾರರಿಂದ" if kannada else "By Our Speakers" }}
				</p>
				<div class="mx-6 w-20 h-0 border border-solid border-red-650"></div>
			</div>
			<div class = "w-full lg:w-192 mx-6 h-auto lg:h-5/6 flex flex-col lg:flex-wrap">	
				{% for book in speakerbooklist %}
				<div class="h-1/2 flex flex-col lg:flex-row py-6 lg:pl-0 pr-10 lg:pr-6">
					<img class= "w-full h-auto lg:h-auto lg:w-1/3" src="{{book.coverimage}}">
					<div class="w-full lg:w-2/3 pt-6 lg:pt-0 lg:px-6">
						<p class= "text-base font-bold 
						   {{ "font-baloo" if kannada else "font-trade" }}
						">{{book.title}}</p>
						<p class= "text-base 
						   {{ "font-baloo" if kannada else "font-trade" }}
						"><i>{{book.author}}</i></p>
						</br>
						<div class= "text-sm mb-3
						   {{ "font-baloo" if kannada else "font-trade" }}
						">{{book.about | markdownify | safe}}</div>
						<a href="{{book.link}}">
						<button class="text-xs py-2 px-12 rounded-sm border border-solid border-black
						   {{ "font-baloo" if kannada else "font-trade" }}
						">
							{{ "ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ" if kannada else "Know More" }}
						</button>
						</a>

					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>



</section>
