<section id="home"  class="block w-full h-screen lg:h-full lg:w-192 lg:flex lg:flex-col lg:flex-none lg:pl-20 bg-trueGray-750 shadow-2xl">
	<div class="mx-10 lg:mx-auto my-auto py-16 lg:py-0 w-4/5 lg:w-1/2">
		<div class = "w-auto flex flex-row items-center">
			<div class="flex-none w-32 h-full bg-white rounded">
				<img class= "h-full w-full p-4" src = {{icon}}>
			</div>
			<p class="w-auto mt-0 pl-6 text-4xl font-bold text-left text-white
			   {{ "font-baloo" if kannada else "font-trade" }}
            ">{{title}}</p>
		</div>
		<p class="mt-6 text-left text-sm text-white
		   {{ "font-baloo text-lg leading-normal" if kannada else "font-trade" }}
		">{{description}}</p>
	</div>
</section>
