<section class="w-full lg:w-auto h-auto lg:h-full lg:max-h-full lg:pr-20 lg:pl-32 pt-16 flex-none bg-white">
    <div class = "flex flex-col lg:flex-row lg:h-full">
        <div class="lg:mr-16 w-full lg:w-auto h-auto lg:h-full">
            <div class="flex flex-col lg:flex-row mt-6 lg:h-5/6 px-10 lg:px-0 ">
                {%- for prompts in promptlist -%}
                <div class="flex flex-col lg:flex-row lg:mr-16 pb-32 lg:pb-0 h-full ">
                    <div class="lg:ml-16 lg:mr-10 pb-16 lg:pb-0">
                        <p class="text-3xl mb-2 w-full lg:w-96 font-display text-trueGray-750">{{prompts.prompt}}</p>
                    </div>
                    {%- for entry in prompts.wplist -%}
                    <div class= "flex flex-col lg:flex-row w-full lg:w-auto h-auto lg:h-full">
                        <iframe class="w-full lg:w-192 h-96 lg:h-full" allowfullscreen="true" style="border:none;" src="{{entry.link}}"></iframe>
                        <div class="lg:ml-16 self-end w-full lg:w-96 py-6 lg:py-0">
                            <p class="text-xl font-normal font-trade text-trueGray-400">{{entry.title}}</p>
                            <p class="text-base font-bold font-trade text-trueGray-400">By {{entry.name}}</p>
                            <p class="text-base font-normal font-trade text-trueGray-400">{{entry.bio}}</p>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                {%- endfor -%}
            </div>
        </div>

    </div>
</section>
