<section id="home"  class="block w-full h-screen lg:h-full lg:w-192 lg:flex lg:flex-col lg:flex-none lg:pl-20 bg-trueGray-750 shadow-2xl">
	<div class="mx-auto my-auto py-16 lg:py-0 w-1/2">
		<div class = "w-auto flex flex-col lg:flex-row items-center">
			<div class="flex-none w-32 h-full bg-white rounded">
				<img class= "h-full w-full p-4" src = {{icon}}>
			</div>
			<p class="w-auto pt-6 lg:pt-0 lg:pl-6 text-4xl font-bold font-trade text-centre lg:text-left text-white">{{title}}</p>
		</div>
		<p class="mt-10 text-left text-sm font-trade text-white">{{description}}</p>
	</div>
</section>
