--- 
layout : default 
kannada: true 
---

<body class="overflow-hidden bg-white" >
    <div class="menu-container" id="menu-container">

	<main class="block lg:flex lg:flex-col">

		<div class="w-screen fixed">
			<div class="bg-white">
                <!-- top navbar for about page  -->
                <!-- lg:flex -->

                {% include "partials/navbar.html" %}
                {% include "partials/menu.html" %}

                    <div id="about-content" class="bg-white">
                        <h2 class="font-bold text-trueGray-750 font-baloo text-4xl">
                            ವಿವರಣೆ
                        </h2>

                        <!-- top navbar for about page  -->
                        <div id="nav-items-container" class="w-full font-bold text-base text-trueGray-400 font-baloo">
                            <ul id="nav-items" class="list-style-none flex flex-row justify-between">
                                <li class="about hover:text-red-650">
                                    <a href="#about">
                                        ಪೀಠಿಕೆ
                                    </a>
                                </li>
                                <li class="curators hover:text-red-650">
                                    <a href="#curators">
                                        ವ್ಯವಸ್ಥಾಪಕರು
                                    </a>
                                </li>
                                <li class="academic-advisors hover:text-red-650">
                                    <a href="#academic-advisors">
                                        ಶೈಕ್ಷಣಿಕ ಸಲಹಾಗಾರರು
                                    </a>
                                </li>
                                <li class="content-partners hover:text-red-650">
                                    <a href="#content-partners">
                                        ವಿಷಯ-ವಸ್ತು ಕೊಡುಗೆ
                                    </a>
                                </li>
                                <li class="programme-partners hover:text-red-650">
                                    <a href="#programme-partners">
                                        ಕಾರ್ಯಕ್ರಮ ಸಹಭಾಗಿಗಳು
                                    </a>
                                </li>
                                <li class="production hover:text-red-650">
                                    <a href="#production">
                                        ಪ್ರದರ್ಶನ ವಿನ್ಯಾಸ ಮತ್ತು ನಿರ್ಮಾಣ
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="main" class="flex flex-col lg:flex-row overflow-y-hidden overflow-x-hidden w-auto bg-white scroll-snap">
                            {% include "partials/kn_about_page.html" %}
                        </div>
                    </div>

                </div>
            </div>
        </main>
    <main class="block lg:hidden">
        <div class="w-screen fixed">
            <div>
                {% include "partials/navbar1.html" %}
                {% include "partials/menu1.html" %}
                    <div id="main" class=" flex flex-col 
                                  lg:flex-row overflow-x-hidden h-screen max-h-screen w-auto bg-white scroll-snap px-10 pb-32 mb-32">
                    <p class= "font-display text-4xl mt-16">ವಿವರಣೆ</p>
                    <div class="my-3 w-20 h-0 border border-solid border-red-650"></div>
                    <ul class="list-style-none">
                            <li class="underline hover:text-red-650">
                                <a href="#about1">ಪೀಠಿಕೆ</a>
                            </li>
                            <li class="underline hover:text-red-650">
                                <a href="#curators1">ವ್ಯವಸ್ಥಾಪಕರು</a>
                            </li>
                            <li class="underline hover:text-red-650">
                                <a href="#academic-advisors1">ಶೈಕ್ಷಣಿಕ ಸಲಹಾಗಾರರು</a>
                            </li>
                            <li class="underline hover:text-red-650">
                                <a href="#content-partners1">ವಿಷಯ-ವಸ್ತು ಕೊಡುಗೆ</a>
                            </li>
                            <li class="underline hover:text-red-650">
                                <a href="#programme-partners1">ಕಾರ್ಯಕ್ರಮ ಸಹಭಾಗಿಗಳು</a>
                            </li>
                            <li class="underline hover:text-red-650">
                                <a href="#production1">ಪ್ರದರ್ಶನ ವಿನ್ಯಾಸ ಮತ್ತು ನಿರ್ಮಾಣ</a>
                            </li>
                        </ul>

                    <div id="about1" class="block my-10">
                        <div class="font-trade">
                            <p class="text-2xl mb-10">ಪೀಠಿಕೆ</p> 
                            <div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
                                <iframe class="absolute inset-0 w-full h-full"  src="https://player.vimeo.com/video/542608131" 
                                frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
                            </div>
                            <p class="mt-6">
                            ನಮ್ಮ ಜೀವನದ ಪ್ರಸಕ್ತ ಪರಿಸ್ಥಿತಿಯನ್ನು ಸವಿಸ್ತಾರವಾಗಿ ಅರ್ಥೈಸುವಂತಹ, ಹಲವಾರು ಐತಿಹಾಸಿಕ ಮತ್ತು ಸಮಕಾಲೀನ, ವೈಜ್ಞಾನಿಕ ಹಾಗೂ ಕಲಾತ್ಮಕ, ವಯಕ್ತಿಕ ಮತ್ತು ಸಮಗ್ರ ದ್ವನಿಗಳನ್ನು ಮತ್ತು ದೃಷ್ಟಿಕೋನಗಳನ್ನು,  ʼಕಂಟೇಜನ್‌ʼ (ಸೋಂಕು) ಪ್ರದರ್ಶನದಲ್ಲಿ ಪ್ರಸ್ತುತ ಪಡಿಸಲಾಗಿದೆ. 
            <br><br>

            ಕೋವಿಡ್-19‌ ರೋಗ ಪಿಡುಗು ಒಂದು ವರ್ಷಕ್ಕೂ ಹೆಚ್ಚು ಕಾಲದಿಂದ ನಮ್ಮೊಂದಿಗೆ ಇದೆ. ಈ ರೋಗ ಪಿಡುಗು ನಮ್ಮ ಜೀವನವನ್ನು ಸ್ಥಗಿತ ಗೊಳಿಸಿ, ಬಹು ಕಾಲದವರೆಗೂ ಉಳಿಯುವ ಹಲವು ಸವಾಲುಗಳನ್ನು ಒಡ್ಡಿದೆ.  ಇಂತಹ ಅನಿಶ್ಚಿತ ಸಮಯದಲ್ಲಿ, ಪರಿಸ್ಥಿತಿಗಳು ಬದಲಾಗುತ್ತಿವೆ. ಯಾವಾಗ ಏನಾಗ ಬಹುದು ಎಂಬ ಭಯವೂ ಕಾಡುತ್ತಿದೆ. ಇತಿಹಾಸದ ಅನುಭವ ಸಾರಸಂಗ್ರಹ ಹಾಗೂ ವಿವಿಧ ಶೈಕ್ಷಣಿಕ ಕ್ಷೇತ್ರಗಳಲ್ಲಿ ನೆಡೆದಿರುವ ವಿಭಿನ್ನ ಬಗೆಯ ಸಂಶೋಧನೆಗಳ ಫಲಸ್ವರೂಪವಾಗಿ ಲಭ್ಯವಿರುವ ಜ್ಞಾನ, ಅನುಭೂತಿ, ಪರಸ್ಪರ ಆರೈಕೆ, ಎಲ್ಲವನ್ನೂ ಒಟ್ಟಾಗಿ ಇಂದು ಗ್ರಹಿಸ ಬಹುದಾಗಿದೆ.
            <br><br>
            
            ‘ಕಂಟೇಜನ್‌’ ಪ್ರದರ್ಶನದಲ್ಲಿ ಸಾಂಕ್ರಾಮಿಕವಾಗಿ ಹರಡುವ ರೋಗಗಳು, ಭಾವನೆಗಳು, ನೆಡವಳಿಕೆಗಳು ಮತ್ತು ಚಿಂತನೆಗಳ ಬಗ್ಗೆ ಅನ್ವೇಷಣೆ ನೆಡೆದಿದೆ. ಇವುಗಳಲ್ಲಿ ಕೆಲವು ಅದ್ಭುತವಾದವು, ಕೆಲವು ಭಯಾನಕವಾದವು. ನಮ್ಮ ಇಂದಿನ ಮತ್ತು ಭವಿಷ್ಯದ ಜೀವನದ ಮೇಲೆ ಇವುಗಳು ಹೇಗೆ ಪ್ರಭಾವ ಬೀರುತ್ತವೆ ಎಂದು ಪ್ರದರ್ಶನದ ಮೂಲಕ ಅರಿಯ ಬಹುದು.
            <br><br>
            ಇಂತಹ ಅನಿಶ್ಚಿತ ಕಾಲದಲ್ಲೂ, ವೈಚಾರಿಕ ಚಿಂತನೆಗಳ ಮುಖೇಣ ವಿಸ್ತೃತ ಯೋಜನೆಗಳನ್ನು ರೂಪಿಸಿ ಈ ಪ್ರದರ್ಶನವನ್ನು ಹಮ್ಮಿಕೊಳ್ಳಲಾಗಿದೆ. ಈ ಮೂಲಕ, ಸಾರ್ವಜನಿಕರಿಗೆ ಪ್ರೇರಣೆ ಮತ್ತು ಮಾಹಿತಿಯನ್ನು ಒದಗಿಸಿ, ಪ್ರೋತ್ಸಾಹಿಸಿ, ಸೂಕ್ತ ಪ್ರಶ್ನೆಗಳನ್ನು ಕೇಳಲು ಉತ್ತಮ ವೇದಿಕೆಯನ್ನು ಕಲ್ಪಿಸುವುದೇ ನಮ್ಮ ಮುಖ್ಯ ಉದ್ದೇಶವಾಗಿದೆ. 
            <br><br>
            ಪ್ರದರ್ಶನದಲ್ಲಿ ಪಾಲ್ಗೊಳ್ಳಲು ನಮ್ಮ ಸಂಯೋಜಕ <a href="http://bit.ly/mediator-led-sessions">ನಿರೂಪಕರು</a> ರೊಂದಿಗೆ ಸೈನ್‌ ಅಪ್‌ ಆಗಿ. ಈ ಸಂಚಿಕೆಯಲ್ಲಿನ ಉಪಯುಕ್ತ ಚಿಂತನೆಗಳು ನಿಮ್ಮ ಮನಸ್ಸು ಹೃದಯಗಳಲ್ಲಿ ನೆಲೆಸುತ್ತವೆ ಎಂದು ಭಾವಿಸುತ್ತೇವೆ.
                            </p>
                        </div>
                    </div>
                    <div id="curators1" class="block bg-white ">
                        <div class="font-trade">
                            <p class="text-2xl">ವ್ಯವಸ್ಥಾಪಕರು</p> 
                            <div class="my-10">
                                <div class="w-3/5">
                                    <img src="/static/img/about-page/Curator_Danielle Olsen.jpeg" alt="image of Danielle Olsen ">
                                </div>
                                <div>
                                    <p class="font-bold text-xl mt-6">
                                    ಡೇನಿಯಲ್‌ ಓಲ್ಸೆನ್‌
                                    </p>
                                    <p class="font-normal text-base italic mt-1">
                                    ವ್ಯವಸ್ಥಾಪಕರು
                                    </p>
                                    <p class="mt-6">
                                    ಡೇನಿಯಲ್‌ ಓಲ್ಸೆನ್‌, ವೆಲ್ಲ್‌ಕಮ್‌ ನಲ್ಲಿ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಸಾಂಸ್ಕೃತಿಕ ನಿರ್ಮಾಪಕರು. ವಿಜ್ಞಾನದ ಇತಿಹಾಸ ಮತ್ತು ತತ್ವಶಾಸ್ತ್ರ, ಸಮಕಾಲೀನ ಕಲೆ, ಸಂಗ್ರಹಾಲಯ, ಚಲನಚಿತ್ರ ಮತ್ತು ರೇಡಿಯೋ ಮುಂತಾದ ವಿಷಯಗಳಲ್ಲಿ ಅಧ್ಯಯನ ಮಾಡಿದ್ದಾರೆ. ಜಾಗತಿಕ ಸ್ವಾಸ್ಥ್ಯ ಸಂಬಂಧಿತ ಸವಾಲುಗಳನ್ನು ಹಲವು ಪ್ರಕಾರದ ಚಿಂತನೆ ಮತ್ತು ಎಲ್ಲ ಮಾರ್ಗಳಿಂದ ಎದುರಿಸುವ ಬಗೆಗೆ ಆಸಕ್ತಿ ಹೊಂದಿದ್ದಾರೆ. 
                    <a href="https://wellcome.org/what-we-do/our-work/contagious-cities">ಕಂಟೇಜಿಯಸ್‌ ಸಿಟೀಸ್‌</a> 
                    (ಬರ್ಲಿನ್‌, ಜಿನೇವ, ಹಾಂಗ್‌ ಕಾಂಗ್‌, ಮತ್ತು ನ್ಯೂಯಾರ್ಕ್‌ ನಗರಗಳಲ್ಲಿ ರೋಗ ಪಿಡುಗಿನ ವಿರುದ್ಧ ತಯಾರಿಯ ವಿಶ್ಲೇಷಣೆ), 
                    <a href="https://wellcome.org/press-release/wellcome-collection-explores-art-global-health">ಆರ್ಟ್‌ ಇನ್‌ ಗ್ಲೋಬಲ್‌ ಹೆಲ್ಥ್‌</a>
                    (ಕೆನ್ಯಾ, ಮಲಾವಿ, ದಕ್ಷಿಣ ಆಫ್ರಿಕ, ಥೈಲ್ಯಾಂಡ್‌, ಯೂ.ಕೆ ಮತ್ತು ವಿಯಟ್‌ನಾಮ್‌ ಸೇರಿದಂತೆ, ವೈದ್ಯಕೀಯ ಸಂಶೋಧನೆ ಕೇಂದ್ರಗಳಲ್ಲಿ ಆರು ಕಲಾ ವೇದಿಕೆಗಳು), ತಮ್ಮ ಇತ್ತೀಚಿನ ಕೃತಿಗಳಾಗಿವೆ. ಇವರು ಸಧ್ಯ ಭವಿಷ್ಯದಲ್ಲಿ ಮೈಂಡ್‌ ಸ್ಕೇಪ್‌ (ಮಾನಸಿಕ ಆರೋಗ್ಯವನ್ನು ಕುರಿತಂತೆ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಸಾಂಸ್ಕೃತಿಕ ಕಾರ್ಯಕ್ರಮ) ವನ್ನು ಹಮ್ಮಿಕೊಳ್ಳಲಿದ್ದಾರೆ.
                                    </p>
                                </div>
                            </div>
                            <div class="my-10">
                                <div class="w-3/5">
                                    <img src="/static/img/about-page/Curator_Jahnavi Phalkey.jpg" alt="Image of Jahnavi Phalkey ">
                                </div>
                                <div>
                                    <p class="font-bold text-xl mt-6">
                                    ಜಾನ್ಹವಿ ಫಾಲ್ಕೆ
                                    </p>
                                    <p class="font-normal text-base italic mt-1">
                                    ವಿಜ್ಞಾನದ ಇತಿಹಾಸಕಾರರು
                                    </p>
                                    <p class="mt-6">
                                    ಜಾನ್ಹವಿ ಫಾಲ್ಕೆಯವರು, ನವಂಬರ್‌, 2018 ರಲ್ಲಿ ಬೆಂಗಳೂರು ವಿಜ್ಞಾನ ವೇದಿಕೆಯ ಸಂಸ್ಥಾಪಕ ನಿರ್ದೇಶಕರಾಗಿ ನೇಮಕಗೊಂಡಿದ್ದಾರೆ.ಇವರು, ಬರ್ಲಿನ್‌ ನ ವಿಶನ್ಸ್ ಚಾಫ್ಟ್ಸ್‌ ಕಾಲೇಗ್‌ ಜು (ದಿ ಇಂಸ್ಟಿಟ್ಯೂಟ್‌ ಆಫ್‌ ಅಡವಾಂಸ್ಡ್‌ ಸ್ಟಡಿ, ಬರ್ಲಿನ್), ಬರ್ಲಿನ್‌ನ ಫೆಲೋ ಆಗಿದ್ದರು. ಲಂಡನಲ್ಲಿರುವ ವಿಜ್ಞಾನ ವಸ್ತು ಸಂಗ್ರಹಾಲಯದ ಬಾಹ್ಯ ನಿರ್ವಾಹಕರಾಗಿ, ಡ್ಯಶಸ್‌ ಮ್ಯೂಸಿಯಮ್‌, ಮುನಿಚ್‌ ನ ನಿವಾಸಿ ವಿದ್ವಾಂಸರಾಗಿ ಸೇವೆ ಸಲ್ಲಿಸಿದ್ದಾರೆ. ಜಾನ್ಹವಿ ಫಾಲ್ಕೆ ಯವರು ಅಟಾಮಿಕ್‌ ಸ್ಟೇಟ್‌: ಬಿಗ್‌ ಸೈನ್ಸ್‌ ಇನ್‌ ಟ್ವೆಂಟಿಯಥ್‌ ಸೆಂಚುರಿ ಕೃತಿಯ ಲೇಖಕರು, ಹಾಗೂ ಸೈನ್ಸ್‌ ಆಫ್‌ ಜೇಂಟ್ಸ್:‌ ಚೈನ ಆಂಡ್‌ ಇಂಡಿಯಾ ಇನ್‌ ಟ್ವೆಂಟಿಯಥ್‌ ಸೆಂಚುರಿ ಕೃತಿಯ ಸಹ-ಲೇಖಕರು. ಜಾನ್ಹವಿ ಫಾಲ್ಕೆ ಯವರು ಜಾರ್ಜಿಯ ಇಂಸ್ಟಿಟ್ಯೂಟ್‌ ಆಫ್‌ ಟೆಕ್ನಾಲಜಿ, ಅಟ್ಲಾಂಟ ಸಂಸ್ಥೆಯಿಂದ ಡಾಕ್ಟರಲ್‌ ಪದವಿ ಪಡೆದಿದ್ದಾರೆ.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="academic-advisors1" class="bg-white ">
                        <div class="font-trade">
                            <p class="text-2xl">ಶೈಕ್ಷಣಿಕ ಸಲಹಾಗಾರರು</p> 
                            <div class="my-10">
                                <div class="w-3/5">
                                    <img src="/static/img/about-page/Academic Advisor_Sanjoy Bhattacharya .jpg" alt="Image of Sanjoy Bhattacharya ">
                                </div>
                                <div class=" ">
                                    <p class="font-bold text-xl mt-6">
                                    ಸಂಜೋಯ್ ಭಟ್ಟಾಚಾರ್ಯ
                                    </p>
                                    <p class="font-normal text-base italic mt-1">
                                    ವೈದ್ಯಕೀಯ ಇತಿಹಾಸಕಾರರು
                                    </p>
                                    <p class="mt-6">
                                    ಸಂಜೋಯ್ ಭಟ್ಟಾಚಾರ್ಯ, ವೆಲ್ಲ್‌ ಕಮ್‌ ಟ್ರಸ್ಟ್‌ ನ ಹಿರಿಯ ತಜ್ಞರಾಗಿ,
                    <a href="https://www.york.ac.uk/history/global-health-histories/">ಜಾಗತಿಕ ಆರೋಗ್ಯ ಇತಿಹಾಸ ವಿಭಾಗದ</a> 
                    ಸಹ ನಿರ್ದೇಶಕರಾಗಿ ಕಾರ್ಯ ನಿರ್ವಹಿಸುತ್ತಿದ್ದಾರೆ. ಯೋರ್ಕ್‌ ವಿಶ್ವವಿದ್ಯಾಲಯದಲ್ಲಿ, ವಿಶ್ವ ಆರೋಗ್ಯ ಸಂಸ್ಥೆಯ ಅಂಗ-ಸಂಸ್ಥೆಯಾದ ಜಾಗತಿಕ ಆರೋಗ್ಯ ಇತಿಹಾಸ ಕೇಂದ್ರದ  ಮುಖ್ಯಸ್ಥರಾಗಿದ್ದಾರೆ.  ಇವರು, ದಕ್ಷಿಣ ಏಷಿಯಾದ ಹತ್ತೊಂಬತ್ತನೇ ಮತ್ತು ಇಪ್ಪತ್ತನೇ ಶತಮಾನದ ಆರೋಗ್ಯ, ವೈದ್ಯಕೀಯ, ರಾಜಕೀಯ ಮತ್ತು ಸಾಮಾಜಿಕ ಇತಿಹಾಸದ ವಿಷಯಗಳಲ್ಲಿ ವಿಶೇಷ ಅಧ್ಯಯನ ಮಾಡಿದ್ದಾರೆ, ಅಲ್ಲದೇ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಹಾಗೂ ಜಾಗತಿಕ ಆರೋಗ್ಯ ಸಂಸ್ಥೆಗಳ ಭೂತಪೂರ್ವ ಮತ್ತು ವರ್ತಮಾನ ಕಾರ್ಯಪ್ರಣಾಲಿಕೆ ಮತ್ತು ವಿಶ್ವದೆಲ್ಲೆಡೆ ಅವುಗಳು ಆಯೋಜಿಸುವ ಕಾರ್ಯಕ್ರಮಗಳ ಸಂಶೋಧನೆ ನೆಡೆಸಿದ್ದಾರೆ. ಪ್ರೊಫೆಸರ್ ಭಟ್ಟಾಚಾರ್ಯ, ರಾಷ್ಟ್ರೀಯ ಹಾಗೂ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಸಂಸ್ಥೆಗಳ ಆರೋಗ್ಯ ನೀತಿಗಳ ಸಂಶೋಧನೆ ಮತ್ತು ಪರಿಶೀಲನಾ ಕಾರ್ಯದಲ್ಲಿ ತಮ್ಮನ್ನು ತೊಡಗಿಸಿಕೊಂಡಿದ್ದಾರೆ. ಪ್ರೊಫೆಸರ್ ಭಟ್ಟಾಚಾರ್ಯ, ವಿಶ್ವ ಆರೋಗ್ಯ  ಸಂಸ್ಥೆಯ ಯೂರೋಪಿನ ವಿವಿಧ ಪ್ರಾದೇಶಿಕ ಕಛೇರಿಗಳ ಮೂಲಕ  ಜಾಗತಿಕ ಆರೋಗ್ಯ ಇತಿಹಾಸ ಪರಿಯೋಜನೆಯ (ಜಿ.ಎಚ್.ಎಚ್)‌ ಕಾರ್ಯ ನಿರ್ವಹಿಸುತ್ತಿದ್ದಾರೆ.
                                    </p>
                                </div>
                            </div>
                            <div class="my-10">
                                <div class="w-3/5">
                                    <img class=" " src="/static/img/about-page/Academic Advisor_Shahid Jameel.jpg " alt="Image of Shahid Jameel ">
                                </div>

                                <div class=" ">
                                    <p class="font-bold text-xl mt-6">
                                    ಶಹಿದ್‌ ಜಮೀಲ್
                                    </p>
                                    <p class="font-normal text-base italic mt-1">
                                    ವೈರಾಣುಶಾಸ್ತ್ರಜ್ಞರು   
                                    </p>
                                    <p class="mt-6">
                                    ಶಹಿದ್‌ ಜಮೀಲ್, ವೆಲ್ಲ್‌ ಕಮ್‌ ಟ್ರಸ್ಟ್‌/ ಡಿ.ಬಿ.ಟಿ ಇಂಡಿಯಾ ಅಲಯನ್ಸ್‌ ಸಂಸ್ಥೆಯಲ್ಲಿ ರಿಂದ ಮುಖ್ಯ ಕಾರ್ಯಕಾರಿ ಅಧಿಕಾರಿಯಾಗಿ ಸೇವೆ ಸಲ್ಲಿಸಿದ್ದಾರೆ. ಯೂ.ಎಸ್.ಎ ಯಲ್ಲಿರುವ ವಾಶಿಂಗ್ಟನ್‌ ಸ್ಟೇಟ್‌ ವಿಶ್ವವಿದ್ಯಾಲಯದಲ್ಲಿ ಜೀವ-ರಸಾಯನ ಶಾಸ್ತ್ರದಲ್ಲಿ ಪಿ.ಎಚ್.ಡಿ ಪದವಿ ಪಡೆದಿದ್ದಾರೆ. ಯೂ.ಎಸ್.ಎ ಯ ಡೆನ್ವರ್‌ ನ ಯೂನಿವರ್ಸಿಟಿ ಆಫ್‌ ಕೊಲೊರಾಡೋ ಹೆಲ್ಥ್‌ ಸೈನ್ಸಸ್‌ ಸೆಂಟರ್‌ʼ ಅಲ್ಲಿ ವೈರಾಣುಗಳನ್ನು ಕುರಿತಂತೆ, ಡಾಕ್ಟರಲ್ ನಂತರದ ಹೆಚ್ಚಿನ ಅಧ್ಯಯನ ಮಾಡಿದ್ದಾರೆ. ನವ ದೆಹಲಿಯಲ್ಲಿ ಐ.ಸಿ.ಜಿ.ಈ.ಬಿ ಕೇಂದ್ರದಲ್ಲಿ ವೈರಾಣು ತಜ್ಞ ಸಮೂಹವನ್ನು ಸ್ಥಾಪಿಸಿ, ಮಾನವರನ್ನು ಕಾಡುವ ವೈರಾಣುಗಳನ್ನು ಕುರಿತಂತೆ 25 ಕ್ಕೂ ಹೆಚ್ಚು ವರ್ಷ ಕಾಲ ಸಂಶೋಧನೆ ನೆಡೆಸಿದ್ದಾರೆ, ಮುಖ್ಯವಾಗಿ ಹೆಪಾಟೆಟಿಸ್‌ ಈ-ವೈರಾಣು ಮತ್ತು ಎಚ್.ಐ.ವಿ ವೈರಾಣುವಿನ ಬಗೆಗೆ ಸಂಶೋಧನೆ ಮಾಡಿದ್ದಾರೆ. ಶ್ರೀ ಜಮೀಲ್‌, 120 ಕ್ಕೂ ಹೆಚ್ಚು ಸಂಶೋಧನಾ ಸಾಮಗ್ರಿಯನ್ನು ಪ್ರಕಾಶಿಸಿದ್ದಾರೆ. ಇವರು ವಿಶ್ವ ಆರೋಗ್ಯ ಸಂಸ್ಥೆ ಹಾಗೂ ಭಾರತ ಸರ್ಕಾರದ ಅನೇಕ ಸಲಹಾ ಸಮಿತಿಗಳ ವಿಭಿನ್ನ ಸಮೀಕ್ಷೆಗಳಲ್ಲಿ ಭಾಗಿಯಾಗಿದ್ದಾರೆ.
                                    </p>
                                </div>


                            </div>
                            <div class="my-10">

                                <div class="w-3/5">
                                    <img class=" " src="/static/img/about-page/Academic Advisor_Mukund Thattai.jpg " alt="Image of Mukund Thattai ">
                                </div>

                                <div class=" ">
                                    <p class="font-bold text-xl mt-6">
                                    ಮುಕುಂದ್‌ ಥಟ್ಟೈ
                                    </p>
                                    <p class="font-normal text-base italic mt-1">
                                    ಜೀವ ಶಾಸ್ತ್ರಜ್ಞರು
                                    </p>
                                    <p class="mt-6">
                                    ಇವರು ಹಲವು ಕ್ಷೇತ್ರಗಳಲ್ಲಿ ಆಸಕ್ತಿ ಹೊಂದಿದ್ದಾರೆ. ಪಿಎಚ್.ಡಿ ಪದವಿ ಪಡೆದ ನಂತರ, ಬೆಂಗಳೂರಿನ ರಾಷ್ಟ್ರೀಯ ಜೀವ ವಿಜ್ಞಾನ ಕೇಂದ್ರದಲ್ಲಿ ಸ್ವತಂತ್ರ ಸಂಶೋಧಕರಾಗಿ ಸೇರಿದರು. 2007 ರಲ್ಲಿ  ರಾಷ್ಟ್ರೀಯ ಜೀವ ವಿಜ್ಞಾನ ಕೇಂದ್ರದಲ್ಲಿ ಬೋಧಕರಾಗಿ ನೇಮಕ ಗೊಂಡರು. ರಾಷ್ಟ್ರೀಯ ಜೀವ ವಿಜ್ಞಾನ ಕೇಂದ್ರದ ಪ್ರಯೋಗಾಲಯದಲ್ಲಿ, ಪ್ರಯೋಗಗಳು ಮತ್ತು ಅಂಕಿ ಅಂಶಗಳ ವಿಶ್ಲೇಷಣೆಯ ಮೂಲಕ ಕೋಶ ಅಧ್ಯಯನದಲ್ಲಿ ತೊಡಗಿದ್ದಾರೆ. ಸಂಶ್ಲೇಷಕ ಜೀವಶಾಸ್ತ್ರದ (ಜೀವ ತಂತುಗಳೊಂದಿಗೆ ವಂಶವಾಹಕಗಳ ಒಗ್ಗೂಡಿಸುವ ವಿಷಯ)  ಕ್ಷೇತ್ರದಲ್ಲಿ ಗಮನಾರ್ಹ ಕೊಡುಗೆ ನೀಡಿದ್ದಾರೆ. ಮುಕುಂದ್‌ ಅವರು, ಸಾರ್ವಜನಿಕರನ್ನು ಒಗ್ಗೂಡಿಸುವ ಕಲೆ ಹಾಗೂ ವಿಜ್ಞಾನದ  ಸಹಭಾಗಿತ್ವ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ಆಯೋಜಿಸುವುದರಲ್ಲಿ ಆಸಕ್ತಿ ತೋರಿದ್ದಾರೆ. ತತ್ವ ನಿಷ್ಟ ಕಲೆಗಾರರು ಮತ್ತು ರಂಗಭೂಮಿ ಕಲಾವಿದರೊಂದಿಗೆ ಜೀವಶಾಸ್ತ್ರದ ಬಳಕೆಯಿಂದ ಸಮಾಜದ ಮೇಲೆ ಉಂಟಾಗುವ ಪ್ರಭಾವವನ್ನು ಅರಿಯುವ ನಿಟ್ಟಿನಲ್ಲಿ ಕಾರ್ಯ ಸಿರ್ವಹಿಸುತ್ತಿದ್ದಾರೆ.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="content-partners1" class="block">
                        <div class="font-trade ">
                            <p class="text-2xl">ವಿಷಯ-ವಸ್ತು ಕೊಡುಗೆ</p> 
                            <div class="my-10">
                                <div class="w-4/5">
                                    <img src="/static/img/about-page/Content Partner_1_Logo.png " alt="Robert Koch Institute Logo " width=150px>
                                </div>
                                <div class=" ">
                                    <p class="font-bold text-xl mt-6">
                                    ದಿ ರಾಬರ್ಟ್‌ ಕೋಕ್ ಇನ್ಸ್ಟಿಟ್ಯೂಟ್ 
                                    </p>
                                    <p class="mt-2">
                                    <a href="https://www.rki.de/EN/Home/homepage_node.html;jsessionid=CEF1231F12763ADDE3B7A265BF7521E8.internet111">ದಿ ರಾಬರ್ಟ್‌ ಕೋಕ್ ಇನ್ಸ್ಟಿಟ್ಯೂಟ್</a>
                    , ಜರ್ಮನಿಯ ರಾಷ್ಟ್ರೀಯ ಸಾರ್ವಜನಿಕ ಆರೋಗ್ಯ ಸಂಸ್ಥೆ. ಇದು ವಿಶ್ವದಾದ್ಯಂತದ ಅತ್ಯಂತ ಹಳೆಯ ಸಂಸ್ಥೆಗಳಲ್ಲಿ ಒಂದಾಗಿದೆ. ಸಾಕ್ಷ್ಯಾಧಾರಿತ ವಿಜ್ಞಾನವು ಈ ಸಂಸ್ಥೆಯ ಮುಖ್ಯ ಕಾರ್ಯವಾಗಿದೆ. ಇದು ಆರೋಗ್ಯದ ವಿಪತ್ತುಗಳನ್ನು ವಿಶ್ವಾಸಾರ್ಹವಾಗಿ ಗುರುತಿಸಲು ಮತ್ತು ಶಿಫಾರಸುಗಳನ್ನು ನೀಡಿ, ಸಾರ್ವಜನಿಕ ಆರೋಗ್ಯವನ್ನು ಸುಧಾರಿಸಲು ಅನುವು ಮಾಡಿಕೊಡುತ್ತದೆ.  
                    <br><br>
                    1910 ರಲ್ಲಿ ರಾಬರ್ಟ್‌ ಕೋಕ್ ಅವರ ಮರಣದ ನಂತರ ಸ್ಥಾಪಿಸಲಾದ ಆರ್‌ ಕೆ ಐ  ಮೂಸಿಯಂ ಈಗ 2017 ರಲ್ಲಿ ನವೀಕರಣಗೊಳಿಸಿದ ನಂತರ ಸಾರ್ವಜನಿಕ ಆರೋಗ್ಯ ಸಂದರ್ಶನ ಕೇಂದ್ರವಾಗಿ ಅಭಿವೃದ್ದಿಗೊಂಡಿದೆ.
                                    </p>
                                </div>
                            </div>

                            <div class="my-10">
                                <div class="w-4/5">
                                    <img src="/static/img/about-page/Content Partner_2_Logo.png " alt="John Innes Centre Logo " width=100px>
                                </div>
                                <div>
                                    <p class="font-bold text-xl mt-6">
                                    ಜಾನ್‌ ಇನ್ನ್ಸ್ ಸೆಂಟರ್‌
                                    </p>
                                    <p class="mt-2">
                                    <a href="http://www.jic.ac.uk/">ಜಾನ್‌ ಇನ್ನ್ಸ್ ಸೆಂಟರ್</a>, ಸಂಯುಕ್ತ ರಾಷ್ಟ್ರದ ʼನಾರ್ವಿಚ್‌ʼ ಅಲ್ಲಿ ಇರುವ ಸ್ವಾಯತ್ತ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಸಂಸ್ಥೆ, ಸಸ್ಯ ವಿಜ್ಞಾನ, ಮತ್ತು ಸೂಕ್ಷ್ಮ ಜೀವ ವಿಜ್ಞಾನ ದ ಉತ್ತಮ ಶಿಕ್ಷಣ ಕೇಂದ್ರ.
                    <br><br>
                    ಹೊಸ ಬಗೆಯ ಸಂಶೋಧನೆಗಳ ಮೂಲಕ ಸಸ್ಯ ಕುಲ ಮತ್ತು ಸೂಕ್ಷ್ಮಾಣು ಜೀವಿಗಳ ಬಗ್ಗೆ ಅರಿವು ಮೂಡಿಸುವುದು, ಭವಿಷ್ಯದ ಯುವ ವಿಜ್ಞಾನಿಗಳಿಗೆ ತರಬೇತಿ ನೀಡುವುದು ಮತ್ತು ಆಡಳಿತ ವರ್ಗ ಹಾಗೂ ಸಾರ್ವಜನಿಕ ರೊಂದಿಗೆ ಒಡಗೂಡುವುದೇ ಜಾನ್‌ ಇನ್ನ್ಸ್ ಸೆಂಟರ್‌ನ ಮುಖ್ಯ ಉದ್ದೇಶ. ಇಂತಹ ಒಗ್ಗೂಡಿಕೆಯಿಂದ, ಕೃಷಿ, ಪರಿಸರ, ಮಾನವ ಸ್ವಾಸ್ಥ್ಯ ಮತ್ತು ಒಳಿತು ಮುಂತಾದ ಕ್ಷೇತ್ರಗಳಲ್ಲಿ ಪ್ರಾಕೃತಿಕ ವಿವಿಧತೆಯ ಜ್ಞಾನವನ್ನು ಸೂಕ್ತ ರೀತಿಯಲ್ಲಿ ಅಳವಡಿಸಿಕೊಳ್ಳ ಬಹುದಾಗಿದೆ.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="programme-partners1" class="block">
                        <div class="font-trade">
                            <p class="text-2xl">ಕಾರ್ಯಕ್ರಮ ಸಹಭಾಗಿಗಳು</p> 
                            <div class="my-10">
                                <div class="w-3/5">
                                    <img src="/static/img/about-page/Programme Partner_1_Logo.png " alt="DBT/Wellcome Trust India Alliance Logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಡಿ.ಬಿ.ಟಿ / ವೆಲ್‌ಕಮ್‌ ಟ್ರಸ್ಟ್‌ ಇಂಡಿಯಾ ಅಲಯಂಸ್‌
                                    </p>
                                    <p class="mt-2">
                                    <a href="https://www.indiaalliance.org/">ಡಿ.ಬಿ.ಟಿ / ವೆಲ್‌ಕಮ್‌ ಟ್ರಸ್ಟ್‌ ಇಂಡಿಯಾ ಅಲಯಂಸ್‌</a>
                    ಸಂಸ್ಥೆಯು ಭಾರತದಲ್ಲಿ ಆರೋಗ್ಯ ಮತ್ತು ಜೀವ ವೈದ್ಯಕೀಯ ಕ್ಷೇತ್ರದಲ್ಲಿ ಅನುದಾನ ನೀಡುವ ಉತ್ತಮ ಸಾರ್ವಜನಿಕ ಸೇವಾ ಸಂಸ್ಥೆ. ಈ ಸಂಸ್ಥೆಯು ಸ್ವತಂತ್ರವಾಗಿ ಕಾರ್ಯ ನಿರ್ವಹಿಸುತ್ತಿದೆ. ಸ್ವಾಸ್ಥ್ಯ ಮತ್ತು ಒಳಿತನ್ನು ಸಾರುವ ಉದ್ದೇಶದಿಂದ ಹೊಸ ಬಗೆಯ ಚಿಂತನೆ ಮತ್ತು ಸಂಶೋಧನೆಗಳಿಗೆ ಪ್ರೋತ್ಸಾಹ ನೀಡಿ, ಅನ್ವೇಷಣೆಗಳನ್ನು ಮುಂದುವರಿಸಲು ಇಂಡಿಯಾ ಅಲಯಂಸ್‌ ಸಹಾಯ ಒದಗಿಸುತ್ತದೆ. ವಿಜ್ಞಾನದಲ್ಲಿ, ವಿವಿಧತೆ, ಒಗ್ಗೂಡಿಕೆ, ಪಾರದರ್ಶಕತೆಯನ್ನು ಹೆಚ್ಚಿಸಿ, ಸಮಾಜದಲ್ಲಿ ವಿಜ್ಙಾನದ ವಿಕಸನವನ್ನು ಪ್ರೋತ್ಸಾಹಿಸುತ್ತದೆ. 
                    <br><br> 
                    ಇಂಡಿಯಾ ಅಲಯಂಸ್‌ ಸಂಸ್ಥೆಗೆ ಸಂಯುಕ್ತ ರಾಷ್ಟ್ರದ ವೆಲ್‌ಕಮ್‌ ಟ್ರಸ್ಟ್‌ ಹಾಗೂ ಭಾರತ ಸರ್ಕಾರದ ಜೀವ ತಂತ್ರಜ್ಞಾನ ವಿಭಾಗದ ಅನುದಾನ ದೊರೆಯುತ್ತದೆ.
                                    </p>
                                </div>
                            </div>

                            <div class="my-10">
                                <div class="w-3/5">
                                    <img src="/static/img/about-page/Programme Partner_2_Logo.gif " alt="Indian National Science Academy Logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಭಾರತೀಯ ರಾಷ್ಟ್ರೀಯ ವಿಜ್ಞಾನ ಅಕಾಡಮಿ
                                    </p>
                                    <p class="mt-2">
                                    ದಿನಾಂಕ 7 ಜನವರಿ, 1935 ರಲ್ಲಿ ಕೊಲಕತ್ತದಲ್ಲಿ,
                    <a href="https://insaindia.res.in/">ಭಾರತೀಯ ವಿಜ್ಞಾನದ ಪ್ರಮುಖ ಸಂಸ್ಥೆಯ</a> 
                    ರೂಪದಲ್ಲಿ, ಭಾರತೀಯ ರಾಷ್ಟ್ರೀಯ ವಿಜ್ಞಾನ ಅಕಾಡಮಿಯ ಸ್ಥಾಪನೆಯಾಯಿತು.  ಈ ಸಂಸ್ಥೆಯಲ್ಲಿ ವಿಜ್ಞಾನದ ಎಲ್ಲಾ ವಲಯಗಳಲ್ಲೂ  ಫೆಲೋಶಿಪ್‌ ದೊರೆಯುತ್ತದೆ. ಈ ಸಂಸ್ಥೆಯು, ದೇಶದೆಲ್ಲೆಡೆ ಶಿಕ್ಷಣ ಮತ್ತು ಸಂಶೋಧನೆಯನ್ನು ಬಲಗೊಳಿಸಿ, ವಿಜ್ಞಾನದ ಪ್ರಮುಖ ಕ್ಷೇತ್ರಗಳಿಗೆ ಆದ್ಯತೆ ನೀಡಲು ಸರ್ಕಾರ ಹಾಗೂ ಅನ್ಯ ರಾಷ್ಟ್ರೀಯ ಸಂಸ್ಥೆಗಳಿಗೆ ನಿರಂತರ ವಸ್ತು ವಿಷಯಗಳನ್ನು ಒದಗಿಸುತ್ತಿದೆ.
                                    </p>
                                </div>
                            </div>

                            <div class="my-10">
                                <div class=w-3/5>
                                    <img src="/static/img/about-page/Programme partner_3_logo.png " alt="Chennai Photo Biennale Learning Lab logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಚೆನ್ನೈ ಫೋಟೋ ಬಿನಾಲೆ
                                    </p>
                                    <p class="mt-2">
                                    <a href="http://www.chennaiphotobiennale.com/">ಚೆನ್ನೈ ಫೋಟೋ ಬಿನಾಲೆ</a> 
                    (ಸಿ.ಪಿ.ಬಿ) ಪ್ರತಿಷ್ಠಾನವು, ಮೂಲತಃ ಛಾಯಾಗ್ರಹಣ ಕ್ಷೇತ್ರದಲ್ಲಿ  ಶಿಕ್ಷಣ ಮತ್ತು ಸಂವಾದಕ್ಕೆ ಒತ್ತು ನೀಡಿದೆ. ಈ ನಿಟ್ಟಿನಲ್ಲಿ, ಛಾಯಾಗ್ರಹಣ ಶಿಕ್ಷಣ ಕಾರ್ಯಕ್ರಮಗಳು ಮತ್ತು ಸಹ-ಭಾಗಿತ್ವ ಸರಣಿಗಳು ವರ್ಷದಾದ್ಯಂತ ನೆಡೆಯುತ್ತವೆ. ಪ್ರತಿ ಎರಡು ವರ್ಷಕ್ಕೆ ಒಮ್ಮೆ, ನಗರವ್ಯಾಪಿಯಾಗಿ, ಹಮ್ಮಿಕೊಳ್ಳಲಾಗುವ ಸಾರ್ವಜನಿಕ ಕಲಾ ಛಾಯಾಗ್ರಹಣ ಉತ್ಸವದೊಂದಿಗೆ ಸಮಾಪನಗೊಳ್ಳುತ್ತದೆ. ಸಿ.ಪಿ.ಬಿ ಪ್ರತಿಷ್ಠಾನವು ವಿವಿಧ ಪ್ರೇಕ್ಷಕ ವರ್ಗಕ್ಕಾಗಿ ತನ್ನ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ವಿಷಯದ ಆಧಾರದ ಮೇಲೆ, ಮುಖ್ಯವಾಗಿ ಮೂರು ವಿಭಾಗಗಳಾಗಿ ವಿಂಗಡಿಸಿಕೊಂಡಿದೆ ಅವು,
                    <a href="https://www.instagram.com/chennaiphotobiennale/?hl=en">ಚೆನ್ನೈ ಫೋಟೋ ಬಿನಾಲೆ</a>, 
                    <a href="https://www.instagram.com/cpblearninglab/?hl=en">ಸಿ.ಪಿ.ಬಿ ಲರ್ನಿಂಗ್‌ ಲ್ಯಾಬ್</a> ಮತ್ತು 
                    <a href="https://www.instagram.com/cpbprism/?hl=en">ಸಿ.ಪಿ.ಬಿ ಪ್ರಿಸಮ್</a>.
                                    </p>
                                </div>
                            </div>

                            <div class="my-10">
                                <div class=w-3/5>
                                    <img src="/static/img/about-page/Programme Partner_4_Logo.png " alt="US Consulate General Chennai logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಸಂಯುಕ್ತ ರಾಜ್ಯಗಳ ಕಂಸಲೇಟ್‌ ಜೆನರಲ್‌, ಚೆನ್ನೈ
                                    </p>
                                    <p class="mt-2">
                                    ಮಿಶನ್‌ ಇಂಡಿಯಾದ ನಾಲ್ಕು ಕಂಸಲೇಟ್‌ ಗಳಲ್ಲಿ, 
                    <a href="https://in.usembassy.gov/">ಯೂ ಎಸ್‌ ಕಂಸಲೇಟ್‌ ಜೆನರಲ್‌, ಚೆನ್ನೈ</a>
                    ಸಹ ಒಂದು. ನವ ದೆಹಲಿಯಲ್ಲಿರುವ ಸಂಯುಕ್ತ ರಾಜ್ಯದ ರಾಯಭಾರಿ ಕಛೇರಿಯ ಅಂಗ ಸಂಸ್ಥೆಯಾಗಿ, ಕರ್ನಾಟಕ, ಕೇರಳ, ತಮಿಳುನಾಡು ರಾಜ್ಯಗಳು, ಕೇಂದ್ರಾಡಳಿತ ಪ್ರದೇಶಗಳಾದ ಅಂಡಮಾನ್‌ ಮತ್ತು ನಿಖೋಬಾರ್‌ ದ್ವೀಪಗಳು ಲಕ್ಷದ್ವೀಪ ಹಾಗೂ ಪುದುಚೇರಿ ಗಳಲ್ಲಿ, ರಾಯಭಾರಿ ಕಾರ್ಯಗಳಿಗೆ ಸಹಕರಿಸುತ್ತಿದೆ. ಯೂ ಎಸ್‌ ಕಂಸಲೇಟ್‌ ಜೆನರಲ್‌, ಚೆನ್ನೈ ಸಂಸ್ಥೆಯ ಸಾರ್ವಜನಿಕ ವ್ಯವಹಾರಗಳ ವಿಭಾಗವು, ಹಲವು ಶೈಕ್ಷಣಿಕ, ಸಾಂಸ್ಕೃತಿಕ ಮತ್ತು  ಕುಶಲತೆ ವಿನಿಮಯ ಕಾರ್ಯಕ್ರಮಗಳು, ಭಾಷಣಗಳು, ಭೂತಪೂರ್ವ ವಿದ್ಯಾರ್ಥಿ ಸಮುದಾಯವನ್ನು ಒಳಗೊಂಡ ಕಾರ್ಯಕ್ರಮಗಳು, ಸಾಮಾಜಿಕ ಮಾಧ್ಯಮ; ಉನ್ನತ ವ್ಯಾಸಂಗ, ಮುಂತಾದವುಗಳಿಗೆ ಪ್ರೋತ್ಸಾಹ ನೀಡುವುದು, ಸಂಸ್ಕೃತಿ ಸಂರಕ್ಷಣೆ, ಆಂಗ್ಲ ಅಧ್ಯಾಪಕರ ತರಬೇತಿ, ಮತ್ತು ಲಾಭ ರಹಿತ ಸಂಸ್ಥೆಗಳನ್ನು ಆಯ್ಕೆ ಮಾಡಿ, ಅನುದಾನ ಕಲ್ಪಿಸುವುದು ಇವೇ ಮುಂತಾದ ಚಟುವಟಿಕೆಗಳನ್ನು ಹಮ್ಮಿಕೊಳ್ಳುತ್ತದೆ. ಈ ಮೂಲಕ ಭಾರತದೊಂದಿಗೆ ಸಂಯುಕ್ತ ರಾಜ್ಯ ಸರ್ಕಾರದ ಸಂಬಂಧವನ್ನು ಬಲಗೊಳಿಸುವ ಕಾರ್ಯದಲ್ಲಿ ತೊಡಗಿದೆ.
                                    </p>
                                </div>
                            </div>

                            <div class="my-10">
                                <div class=w-3/5>
                                    <img src="/static/img/about-page/Programme Partner_5_Logo.png " alt="Dr. Jenner’s House Logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಡಾ. ಜೆನ್ನರ್'ಸ್ ಹೌಸ್
                                    </p>
                                    <p class="mt-2">
                                    ಲಸಿಕೆಗಳನ್ನು ಜಗತ್ತಿಗೆ ಪರಿಚಯಿಸಿದ ಎಡ್ವರ್ಡ್‌ ಜೆನ್ನರ್‌ ಅವರು ವಾಸವಿದ್ದಂತಹ ನಿವಾಸವು ಈಗ
                    <a href="https://jennermuseum.com/">ಡಾ. ಜೆನ್ನರ್'ಸ್ ಹೌಸ್</a> 
                    ಆಗಿ ರೂಪಗೊಂಡಿದೆ. ಎಡ್ವರ್ಡ್‌ ಜೆನ್ನರ್‌ ಅವರು, ಸಿಡುಬು ರೋಗದ ವಿರುದ್ಧ ಸಕ್ಷಮವಾಗಿ ಹೋರಾಡಲು ಲಸಿಕೆ ತೆಗೆದುಕೊಳ್ಳುವಂತೆ ಇಡೀ ಪ್ರಪಂಚಕ್ಕೆ ಕರೆ ಕೊಟ್ಟಿದ್ದರು. ಪ್ರಸಕ್ತ, ಸಾರ್ವಜನಿಕರಿಗೆ ಈ ತಾಣವು ತೆರೆದಿದೆ. ಲಸಿಕೆಗಳ ಧೀರ್ಘಕಾಲಿಕ ಜಾಗತಿಕ ಇತಿಹಾಸವನ್ನು ಎಲ್ಲರೊಂದಿಗೆ ಹಂಚಿಕೊಳ್ಳಲಾಗುತ್ತದೆ.  ಜೆನ್ನರ್‌ ಅವರ ಜೀವನ ಚರಿತ್ರೆ, ಕೃತಿಗಳು, ಸಿಡುಬನ್ನೂ ಸೇರಿದಂತೆ ಇತರೆ ರೋಗಗಳಿಗೆ ಲಸಿಕೆಗಳ ಅಭಿವೃದ್ಧಿ ಕುರಿತಂತಹ ಪರಂಪರಾಗತ ಕೊಡುಗೆಗಳು, ಹಾಗೂ ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳ ವಿರುದ್ಧ ವಿಶ್ವದೆಲ್ಲೆಡೆಯ ಸಂಶೋಧನಾ ಕೃತಿಗಳನ್ನು ಈ ಸಂಗ್ರಹಾಲಯದಲ್ಲಿ ಸಂರಕ್ಷಿಸಲಾಗಿದೆ. ದಿ ಜೆನ್ನರ್‌ ಟ್ರಸ್ಟ್‌ ಮೂಲಕ ಡಾ. ಜೆನ್ನರ್‌ ಹೌಸ್‌ ಸಂಚಲಿತವಾಗುತ್ತಿದೆ. ಇದು ಸ್ವಾಯತ್ತ ದತ್ತಿ ಸಂಸ್ಥೆಯಾಗಿದ್ದು ಗತ ಅನುಭವದಿಂದ ಪ್ರಸಕ್ತ ಹಾಗೂ ಭವಿಷ್ಯವನ್ನು ರೂಪಿಸುತ್ತಿದೆ.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="production1" class="block">
                        <div class="font-trade">
                            <p class="text-2xl">ಪ್ರದರ್ಶನ ವಿನ್ಯಾಸ ಮತ್ತು ನಿರ್ಮಾಣ</p> 

                            <div class="my-10">
                                <div class=w-3/5>
                                    <img  src="/static/img/about-page/ag logo.png " alt="Dr. Jenner’s House Logo ">
                                </div>
                                <div>
                                    <p class="font-bold text-base mt-6">
                                    ಅಜೈಬ್ ಘರ್
                                    </p>
                                    <p class="mt-2"><a href="https://ajaibghar.com ">ಅಜೈಬ್ ಘರ್
                </a> ತಂಡ  - ಅಂಬಿಕಾ ಜೋಶಿ, ನಂದಿತಿ ಖಿಲ್ನಾನಿ, ಹಿಮಾಂಶು ಎರಾಂಡೆ, ಶ್ರೀರಾಮ್ ವೆಂಕಿಟೀಶ್,
                ರೋನಿಶ್ ಸಾವಲ್, ಅನುಷ್ಕಾ ತ್ರಿವೇದಿ, ಶಿಬಿಜ ಎ</p>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </main>

    </div>
</body>
<script src="/static/js/menu.js"></script>

<link rel="stylesheet" href="/static/css/about.css">
<!-- <script type="text/javascript" src="/static/js/exhibit_scroll.js"></script> -->
<script>
    var main = document.getElementById('main')
    main.addEventListener('wheel', (e) => {
        main.scrollLeft += e.deltaY;
    });

    const scrollTo = (href) => {
        let targetId = href.split("#").reverse()[0]
            // console.log(targetId);
        document.getElementById(targetId).scrollIntoView({
            behavior: "smooth",
            block: "end",
            inline: "nearest"
        })
    }

    $(document).ready(function() {
        let navULDom = document.getElementById('nav-items');
        for (child of navULDom.children) {
            let link = child.children.item(0)

            link.addEventListener('click', (event) => {
                document.querySelectorAll("#nav-items > li > a").forEach((item) => {
                    console.log(item);
                    item.classList.remove('text-red-650')
                })
                link.classList.add('text-red-650')
                scrollTo(link.href)
                event.preventDefault();
            });
        }
    });

    $('#main').scroll(function() {
        var scrollOffset = $('#about-content').offset().left;
        var position = $(this).scrollLeft() + scrollOffset;
        // console.log();

        // $('#main > .section').each(function() {
        //     var target = $(this).offset().left;
        //     var id = "#" + $(this).attr('id');

        //     // console.log(document.querySelectorAll('#nav-items > li > a[href="' + id + '"]'));
        //     if (position >= target) {
        //         // console.log(id, position, target);
        //         $('#nav-items > li > a').removeClass('text-red-650');
        //         $('#nav-items > li > a[href="' + id + '"]').addClass('text-red-650');
        //     }
        // });

        var offsets = [];
        $('#main > .section').each(function() {
            // calculate difference from offset
            let diff = $(this).offset().left - scrollOffset;
            var id = "#" + $(this).attr('id');
            diff = Math.abs(diff);
            offsets.push({
                id: id,
                diff: diff
            });
        });

        let diffs = [];
        for (let i = 0; i < offsets.length; i++) {
            diffs.push(offsets[i].diff);
        }
        var leastDiff = Math.min(...diffs);
        console.log(leastDiff);

        var idToHighlight = '';
        for (let i = 0; i < offsets.length; i++) {
            let o = offsets[i];
            if (o.diff == leastDiff) {
                idToHighlight = o.id;
                break;
            }
        }

        $('#nav-items > li > a').removeClass('text-red-650');
        $('#nav-items > li > a[href="' + idToHighlight + '"]').addClass('text-red-650');
    });



    // $('#main > .section').each(function() {
    //         var target = $(this).offset().left;
    //         var id = "#" + $(this).attr('id');

    //         console.log(document.querySelectorAll('#nav-items > li > a[href="' + id + '"]'));
    //         if (position >= target) {
    //             console.log(id, position, target);
    //             $('#nav-items > li > a').removeClass('text-red-650');
    //             $('#nav-items > li > a[href="' + id + '"]').addClass('text-red-650');
    //         }
    //     });

    // $(document).ready(function() {
    //     $('#nav-items>li>a').bind('click',function(event){
    //         var $anchor = $(this);

    //         console.log($($anchor.attr('href')).offset().left);
    //         $('#main').stop().animate({
    //             scrollLeft: $($anchor.attr('href')).offset().left
    //         }, 1000);
    //         event.preventDefault();
    //     });
    // });
</script>
