---
layout: default
kannada: true
title: Contagion
---
<div class="menu-container" id="menu-container">
    {% include "../_includes/partials/navbar.html" %}
    {% include "../_includes/partials/menu.html" %}

    <div class="block lg:flex lg:flex-row lg:ml-20 bg-trueGray-750">
        <div class="lg:float-left w-full h-screen lg:w-1/3 lg:mt-20 lg:pt-20 lg:ml-20">
            <div class="my-auto w-1/2">
                <div class = "w-auto flex flex-row items-center">
                    <div class="flex-none w-32 h-full bg-white rounded">
                        <img class= "h-full w-full p-4" src="../../static/img/activity-handbook.svg">
                    </div>
                </div>
                <p class="w-auto pt-10 text-6xl font-bold font-baloo text-left text-white"> ಕಾರ್ಯ ಚಟುವಟಿಕೆ ಕೈಪಿಡಿ</p>
                <p class="mt-5 text-left w-11/12 text-sm font-baloo text-white">ರೋಗ ವ್ಯಾಪನಗಳನ್ನು ಗಮನಿಸಿ, ಅರಿತು, ಅವುಗಳ ಪರಿಭಾಷೆಯನ್ನು ರೂಪಿಸಲಾಗುತ್ತದೆ.  ಅಗೋಚರ ಹಂದರಗಳ ವ್ಯಾಪಕತೆಯನ್ನು ಮತ್ತು ವಹನ ಕ್ರಿಯೆಯನ್ನು ಅರಿಯುವುದು ಕಷ್ಟ ಸಾಧ್ಯ.  ವಿವಿಧ ಕಾರ್ಯ ಚಟುವಟಿಗಳು, ಪ್ರಯೋಗಗಳು ಮತ್ತು ಆಟಗಳ ಮೂಲಕ ರೋಗ ವ್ಯಾಪನದ ಜಗತ್ತನ್ನು ವಿಹರಿಸಲು ನಿಮ್ಮನ್ನು ಆಹ್ವಾನಿಸುತ್ತಿದ್ದೇವೆ.</p>
            </div>
        </div>
        <div class="flex lg:block lg:float-right w-full lg:w-2/3 pb-20 lg:mb-0 lg:mt-20">
            <div style="position:relative;padding-top:max(40%,326px);height:0;width:auto;"><iframe allowfullscreen="true" style="position:absolute;border:none;width:80%;height:100%;left:0;right:0;top:0;bottom:0;" src="https://e.issuu.com/embed.html?d=contagion_activity_handbook_kannada_version_single&u=sciencegallerybengaluru"></iframe></div>
            <p class="mt-10 text-left text-sm w-10/12 font-baloo text-white">
                ನಮ್ಮ ಡಿಜಿಟಲ್‌ ಪ್ರದರ್ಶನ ʼಕಂಟೇಜನ್‌ʼ (ʼವ್ಯಾಪನʼ) ದೊಂದಿಗೆ ಕಾರ್ಯ ಚಟುವಟಿಕೆ ಕೈಪಿಡಿಯನ್ನು ಪ್ರಸ್ತುತ ಪಡಿಸುತ್ತಿದ್ದೇವೆ. ಈ ಚಟುವಟಿಕೆಗಳು, ʼನೀವೆ ಮಾಡಿ ಕಲಿಯಿರಿʼ ಪ್ರಯೋಗಗಳು ಮತ್ತು ಒಗಟುಗಳ ಮೂಲಕ ಮಾನವ ಜೀವನದೊಂದಿಗೆ ಸಾಂಕ್ರಾಮಿಕ ವ್ಯಾಪನಗಳು ಹೇಗೆ ಹೆಣೆದುಕೊಂಡಿವೆ ಎಂಬುದರ ಬಗೆಗೆ ಆಳವಾದ ಅರಿವು ಮೂಡುತ್ತದೆ ಎಂದು ಭಾವಿಸಿದ್ದೇವೆ. <br><br>
                ಈ ಕೈಪಿಡಿಯನ್ನು ಡೌನ್ಲೋಡ್‌ ಮಾಡಿ, ಉಪಯೋಗಿಸಿ ಮತ್ತು ಇತರರೊಂದಿಗೆ ವಿಷಯ ಹಂಚಿಕೊಳ್ಳಿ. 18 ವರ್ಷ ಮೇಲ್ಪಟ್ಟವರಿಗೆ ಸೂಕ್ತವಾಗಿದೆ.  18 ವರ್ಷಕ್ಕಿಂತ ಕಡಿಮೆ ವಯಸ್ಸಿನ ಸಂದರ್ಶಕರು ತಮ್ಮ ಹಿರಿಯರ ಮಾರ್ಗದರ್ಶನ ಪಡೆಯಬೇಕೆಂದು ಬಯಸುತ್ತೇವೆ.  <br><br>
                ಸಾಮಾಜಿಕ ಮಾಧ್ಯಮದ ಮೂಲಕ ನಿಮ್ಮ ರಚನೆಗಳನ್ನು ನಮ್ಮೊಂದಿಗೆ ಹಂಚಿಕೊಳ್ಳ ಬಹುದು .ವಿಳಾಸ  @scigalleryblr ಹ್ಯಾಶ್‌ ಟ್ಯಾಗ್‌ ಬಳಸಿ #ExperimentWithSGB ಮತ್ತು #TransmissionStartsNow.
            </p>

        </div>
        
    </div>
</div>
<script src="/static/js/menu.js"></script>
