---
layout : default
title: Contagion
kannada: true
path: home
---
<body class="overflow-hidden" >
    <div class="menu-container" id="menu-container">
	
		{% include "../_includes/partials/navbar.html" %}
		{% include "../_includes/partials/menu.html" %}
	<main class="block w-full lg:w-screen lg:h-screen lg:pl-20 bg-white overflow-hidden">

		<!-- top navbar for about page  -->
		<!-- lg:flex -->
	
		<div class="w-screen fixed">
			<div class="bg-trueGray-750 p-12 pr-28">
<div class="w-full flex flex-row">
<div class="pb-3">
	<h2 class="text-3xl font-bold text-white tracking-normal
	{{"font-baloo" if kannada else "font-display"}}
	">
		{{
			"ಪ್ರದರ್ಶಿಕೆಗಳು"
			if kannada else
			"Exhibits"
		}}
		
	</h2>
</div>
</div>

<div class="flex flex-wrap grid grid-cols-6 gap-2 bg-trueGray-750 pb-3">
	<div class="pullquote w-full h-full col-start-2 row-start-3 col-span-2">
		<p class="font-medium text-2xl text-white tracking-normal p-5 pl-6
		{{"font-baloo" if kannada else "font-display"}}
		">
		{{
			"… ವಿವಿಧ ಕ್ಷೇತ್ರಗಳಲ್ಲಿ ಸೃಜನಾತ್ಮಕ ಚಿಂತನೆ ಮತ್ತು ವಿವೇಕ ಪೂರ್ಣ ವಿಮರ್ಶೆಯನ್ನು ಅರ್ಥೈಸಿ, ಸಾಂಕ್ರಾಮಿಕತೆಗೆ ಸಾಕ್ಷಿಯಾಗಿ."
			if kannada else
			"... witness contagion across disciplines to understand creative thinking and ask critical questions."
		}}
		</p>
	</div> 
	{%- for post in collections.kn_exhibit -%}
	{% if post.data.featured %}
	<div class="featured z-20 w-full col-span-2 row-span-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:z-50 hover:blur-md">
		<a href= {{post.url}}>
			<div class="object-fit h-full flex relative">
				<img class="featured w-full" src={{post.data.thumb}}>
				<div class="h-full w-full absolute top-0 left-0 bg-trueGray-750 opacity-80 hover:opacity-20"></div>
				<div class="flex-none absolute top-7 left-7 text-white font-trade pr-4">
					<div class="font-bold text-xl">{{post.data.title}}</div>
					<div class="text-base">{{post.data.subtitle}}</div>
				</div>
			</div>
		</a>
	</div>
	{% elif not post.data.featured %}
	<div class="nonfeatured z-20 w-full col-span-1 row-span-1 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:z-50">
		<a href= {{post.url}}>
			<div class="object-cover flex relative">
				<img class="featured w-full h-36" src={{post.data.thumb}}>
				<div class="h-full w-full absolute top-0 left-0 bg-trueGray-750 opacity-80 hover:opacity-20"></div>
				<div class="flex-none absolute top-4 left-3 text-white font-trade pr-4">
					<div class="font-bold text-base">{{post.data.title}}</div>
					<div class="text-sm">{{post.data.subtitle}}</div>
				</div>
			</div>
		</a>
	</div>
	{% endif %}
	{%- endfor -%}
	
</div>
<div class="proglogo bg-trueGray-750 py-4">
	<h2 class="font-bold text-base text-white
	{{"font-tunga" if kannada else "font-trade"}}
	">
		{{
			"ವಿಷಯ ವಸ್ತು ಕೊಡುಗೆ"
			if kannada else
			"CONTENT PARTNERS"
		}}
	</h2>
	<p class="text-sm text-white
	{{"font-tunga" if kannada else "font-trade"}}
	">
		{{
			"ದಿ ರಾಬರ್ಟ್‌ ಕೋಕ್ ಇನ್ಸ್ಟಿಟ್ಯೂಟ್‌ | ಜಾನ್‌ ಇನ್ನ್ಸ್ ಸೆಂಟರ್"
			if kannada else
			"Robert Koch Institute | John Innes Centre"
		}}
	</p>
	<!-- <p class="font-trade text-sm text-white">John Innes Centre</p> -->
</div>
</div>

</div>
	</main>
	</div>
</body>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}
<script src="/static/js/menu.js"></script>

<link rel="stylesheet" href="/static/css/about.css">
