---
layout: default
title: Contagion
path: home
---

<div class="menu-container" id="menu-container">
    {% include "./_includes/partials/navbar.html" %}
    {% include "./_includes/partials/menu.html" %}
    
<div class="content lg:ml-20">
  <div id="opening-frame" class="opening-frame-container">
     <a href="/home"><img src="/static/img/lp_assets/opening-frame.png" alt="" class="opening-frame"></a> 
  </div>
</div>
</div>
  
<script src="/static/js/bundle.js"></script>
<script src="/static/js/menu.js"></script>
<script type="text/paperscript" canvas="canvas-1" src="/static/js/lp.js"></script>

