---
layout: default
title: Mediator Sessions
---

<body class="overflow-hidden bg-white" >
    <div class="menu-container" id="menu-container">

	<main class="block lg:flex lg:flex-col">

		<div class="w-screen fixed">
			<div>
                <!-- top navbar for about page  -->
                <!-- lg:flex -->

                {% include "partials/navbar.html" %}
                {% include "partials/menu.html" %}

                <div class="lg:ml-20 h-screen bg-trueGray-750" > 
                   
                    <div id="main" class="flex flex-col overflow-x-hidden w-auto h-screen max-h-screen bg-trueGray-750 scroll-snap
                                          lg:flex-row "> 
                        {{ content | safe }}
                        {% include "partials/mediator-sessions.html" %}
                    </div>
                </div>
                
			</div>
		</div>
	</main>
    </div>
</body>
<script src="/static/js/menu.js"></script>

<link rel="stylesheet" href="/static/css/about.css">
<script type="text/javascript" src="/static/js/just_scroll.js"></script>
