<section id="about" class="w-auto max-w-screen h-auto lg:h-full flex-none bg-white">
	<div class="h-auto flex flex-row 
		    lg:h-full lg:pt-36">
		<div class="h-auto flex-initial w-screen    
			    lg:h-full lg:w-240">
				{% if description %}
			<pre class="font-normal whitespace-pre-wrap
				    text-base my-auto pl-10 pr-10 py-10
				    xl:text-lg lg:ml-32 lg:pl-0 lg:pr-16 lg:py-0 
				{{ "font-baloo" if kannada else "font-trade" }}
				">{{description | markdownify | safe }}</pre>
				{% endif %}
			</div>

			{% if quote %}
		<div class="h-full ml-20 flex-initial hidden lg:block w-192">
				<p class="text-3xl xl:text-5xl w-4/5 pl-10 text-left text-red-650 font-normal border-l-4 border-solid border-red-650
				{{ "font-baloo leading-tight" if kannada else "font-display" }}
				">{{quote}}</p>
			</div>
			{% endif %}
		</div>
</section>


