<section id="scholar" class="block w-auto h-screen lg:flex lg:flex-none bg-red-650">

	{% if exhibitauthor %}
		{% for author in exhibitauthor %}
		<div class="w-192 pt-32">
			<div class="w-3/5 h-2/5 mx-auto">
				{% if author.authorimage %}
				<img class="object-scale-down mx-auto w-auto h-full" src={{author.authorimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-3/5 mx-auto pt-10">
				<p class="text-2xl mx-auto text-left font-bold font-trade text-black">{{author.authorname}}</p>
				<pre class="text-base whitespace-pre-wrap text-white font-normal font-trade">{{author.authorbio}}</pre>
			</div>
		</div>
		{% endfor %}
	{% else %}	
		<div class="w-288 pt-32">
			<div class="w-3/5 h-2/5 mx-auto">
				{% if authorimage %}
				<img class="object-scale-down w-auto h-full" src={{authorimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-3/5 mx-auto pt-10">
				<p class="text-2xl mx-auto text-left font-bold font-trade text-black">{{authorname}}</p>
				<pre class="text-base whitespace-pre-wrap text-white font-normal font-trade">{{authorbio}}</pre>
			</div>
		</div>
	{% endif %}


</section>


