<section id="authors" class="block w-auto h-auto bg-red-650
			     lg:h-screen lg:flex lg:flex-none">

	{% if exhibitauthor %}
		{% for author in exhibitauthor %}
		<div class="w-192 pl-20 pt-36">
			<div class="w-3/5 h-2/5">
				{% if author.authorimage %}
				<img class="object-scale-down ml-10 mr-auto w-auto h-full" src={{author.authorimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-10/12 ml-10 mr-auto pt-10">
				<p class="text-xl mx-auto text-left font-bold font-trade text-black">{{author.authorname}}</p>
				{% if author.authorbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal font-trade">{{author.authorbio | markdownify | safe}}</pre>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% else %}	
		<div class="w-screen pt-20 
			    lg:w-288 lg:pt-36">
			<div class="w-3/5 mx-auto
				    h-auto
				    lg:h-2/5">
				{% if authorimage %}
				<img class="object-scale-down w-full h-auto lg:w-auto lg:h-full" src={{authorimage}} oncontextmenu="return false" ondragstart="return false">
				{% endif %}
			</div>
			<div class="w-3/5 mx-auto
				    h-auto py-10
				    lg:pt-10">
				<p class="text-xl mx-auto text-left font-bold font-trade text-black">{{authorname}}</p>
				{% if authorbio %}
				<pre class="text-sm whitespace-pre-wrap text-white font-normal font-trade">{{authorbio | markdownify | safe }}</pre>
				{% endif %}
			</div>
		</div>
	{% endif %}


</section>


