<section id="home"  class="block w-full lg:w-screen lg:flex-none lg:flex-col lg:flex-nowrap lg:pl-20 bg-trueGray-750">
	<div class="float-left flex w-screen lg:w-1/3 lg:h-full pl-10 lg:pl-20 lg:pt-36">
		<div class="w-full pt-24">
			<p class="text-6xl w-auto font-trade font-bold text-white">{{title}}</p>
			<p class="text-xl  w-auto lg:mt-5         font-trade font-normal text-trueGray-400">{{subtitle}}</p>
			<div class="w-3/5">
				<p class="text-base  w-auto lg:mt-36        font-trade font-normal text-white">Medium : {{medium}}</p>
				<p class="text-base  w-auto lg:mt-1.5             font-trade font-normal text-white">Year : {{year}}</p>
			</div>
			<!--<p class="hidden lg:mt-36 text-xl lg:block font-trade font-normal text-trueGray-400">Scroll to enter Exhibit</p>-->
		</div>
	</div>
	<div class="float-right flex w-screen lg:w-2/3 lg:h-full lg:pt-36">
		<div class="mx-auto lg:mx-0 w-10/12 h-auto">
		{% if embedwebsite %}
			{% if privis %}
			<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white"><a target="_blank" href={{pritxt}}>CLICK HERE TO EXPLORE THE ARTWORK</a></h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				</p>
			</div>
			{% elseif exhibitvideos %}
				<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
					<iframe class="absolute inset-0 w-full h-full"  src="{{exhibitvideos[0].privis}}?autoplay=1&loop=1"
					frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
				</div>
				<div class="mt-5">
					<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white"><a href="{{exhibitvideos[0].privis}}" target="_blank"> CLICK HERE TO EXPLORE THE ARTWORK</a></h3>
					<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
					<p class="text-sm w-auto font-trade text-trueGray-400">{{exhibitvideos[0].pritxt}}</p>
				</div>
			{% endif %}

		{% elseif privis %}
			<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white">ABOUT THE VIDEO</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto lg:w-192 font-trade text-trueGray-400">{{pritxt}}
				</p>
			</div>
		
		{% elseif priaudtxt %}
			<iframe class="w-full h-96" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121064086&color=%23363636&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white">ABOUT THE AUDIO</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto lg:w-96 font-trade text-trueGray-400">{{priaudtxt}}
				</p>
			</div>

		{% elseif exhibitembed %}
			<video class="w-full shadow-2xl" controls autoplay><source src={{exhibitembed[0].privis}} type="video/mp4"></video>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white"><a href={{exhibitembed[0].pritxt}} target="_blank">CLICK HERE TO EXPLORE THE ARTWORK</a></h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
			</div>

		{% elseif exhibitvideos %}
			<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{exhibitvideos[0].privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white">ABOUT THE VIDEO</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto font-trade text-trueGray-400">{{exhibitvideos[0].pritxt}}</p>
			</div>
		
		{% elseif exhibitimages %}
			<img class="w-auto lg:ml-20 h-2/3 shadow-2xl" src={{exhibitimages[0].privis}}  oncontextmenu="return false" ondragstart="return false">
			<div class="mt-5 lg:ml-20">
				<h3 class="text-base lg:mt-10 mb-0 font-trade font-bold text-white">ABOUT THE IMAGE</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-full lg:w-192 font-trade text-trueGray-400">{{exhibitimages[0].pritxt}}
				</p>
			</div>
		{% endif %}
		</div>
	</div>
</section>


