<section id="home"  class="bg-trueGray-750 block w-full h-auto 
			   lg:w-screen lg:flex-none lg:flex-col lg:flex-nowrap lg:pl-20" >
	<div class="float-left flex w-screen pl-10 pr-10 lg:pr-0 my-10 lg:my-0
		    lg:w-1/3 lg:h-full lg:pl-20 lg:pt-36">
		<div class="w-full pt-24">
			{% if kannada == 'true' %}
				<p class="my-2 w-auto text-white
					{{ "font-baloo text-xl" if kannada else "font-trade text-base" }}">
						{% if cata == 'trigger' %}
							ಟ್ರಿಗ್ಗರ್‌
						{% elseif cata == 'spillover' %}
							ಸ್ಪಿಲ್‌ ಓವರ್‌
						{% elseif cata == 'transmission' %}
							ಸಂವಹನ
						{% elseif cata == 'hindsight' %}
							ನೇಪಥ್ಯ
						{% endif %}
						, 
						{% if catb == 'mapping' %}
							ನಕ್ಷೆ
						{% elseif catb == 'documenting' %}
							ಗುರುತಿಸಿ
						{% elseif catb == 'experimenting' %}
							ಪ್ರಯೋಗ
						{% elseif catb == 'narrating' %}
							ನಿರೂಪಣೆ
						{% endif %}
				</p>
			{% else %}
				<p class="my-2 w-auto text-white
				{{ "font-baloo text-xl" if kannada else "font-trade text-base" }}">
					{{cata.charAt(0).toUpperCase() + cata.slice(1)}}, {{catb.charAt(0).toUpperCase() + catb.slice(1)}}
				</p>
			{% endif %}
			<p class="text-4xl lg:text-6xl w-auto font-bold text-white
				  {{ "font-baloo leading-tight" if kannada else "font-trade"}}
			">
				{{title}}
			</p>
			<p class="text-xl w-4/5 mt-2 lg:mt-5 font-normal text-trueGray-400
				  {{ "font-baloo" if kannada else "font-trade"}}
			">
				{{subtitle}}
			</p>
			<div class="w-full lg:w-3/5">
				<p class="text-base  w-auto mt-5 font-normal text-white
				  {{ "font-baloo" if kannada else "font-trade"}}
				">
				{{"ಮಾಧ್ಯಮ" if kannada else "Medium"}}: {{medium}}
				</p>
				<p class="text-base  w-auto mt-1 lg:mt-1.5 font-normal text-white
				  {{ "font-baloo" if kannada else "font-tade"}}
				">
				{{ "ವರ್ಷ" if kannada else "Year"}}: {{year}}
				</p>
			</div>
		</div>
	</div>

	<div id="scroll-arrow" class="hidden lg:flex lg:flex-none fixed top-10 right-10">
		
		<span class="text-white m-1
		{{ "font-baloo" if kannada else "font-trade"}}
		" >
			{{ "ಹೆಚ್ಚಿನ ಮಾಹಿತಿಗಾಗಿ ಟ್ರ್ಯಾಕ್ ಪ್ಯಾಡ್ ನ ಮೇಲೆ ಸ್ಕ್ರಾಲ್‌ ಮಾಡಿ (ಮೇಲೆ, ಕೆಳಗೆ)" if kannada else "Scroll to know more" }}
		</span>

		<div class='icon-scroll -mt-2 ml-1 py-4 px-2'>
			<svg class="animate-fade-in-down h-8"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" fill="#fff"/>
</svg>
		</div>
	</div>
	
	
	<div class="float-right flex w-screen h-auto lg:w-2/3 lg:h-full pb-12 lg:pb-0 lg:pt-36">
		<div class="mx-auto w-10/12 h-auto">
		{% if embedwebsite %}
			{% if privis %}
			<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    <a target="_blank" href={{pritxt}}>
				        {{ "ಪ್ರದರ್ಶಿಕೆಯನ್ನು ನೋಡಲು ಇಲ್ಲಿ ಕ್ಲಿಕ್‌ ಮಾಡಿ" if kannada else "CLICK HERE TO EXPLORE THE EXHIBIT" }}
				    </a>
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				</p>
			</div>
			{% elseif exhibitvideos %}
				<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
					<iframe class="absolute inset-0 w-full h-full"  src="{{exhibitvideos[0].privis}}?autoplay=1&loop=1"
					frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
				</div>
				<div class="mt-5">
					<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
					{{ "font-baloo" if kannada else "font-trade"}}
					">
					    <a href="{{exhibitvideos[0].privis}}" target="_blank"> 
					        {{ "ಪ್ರದರ್ಶಿಕೆಯನ್ನು ನೋಡಲು ಇಲ್ಲಿ ಕ್ಲಿಕ್‌ ಮಾಡಿ" if kannada else "CLICK HERE TO EXPLORE THE EXHIBIT" }}
					    </a>
					</h3>
					<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
					<p class="text-sm w-auto text-trueGray-400
					{{ "font-baloo" if kannada else "font-trade"}}
					">
					    {{exhibitvideos[0].pritxt}}
					</p>
				</div>
			{% endif %}

		{% elseif privis %}
			<div class="w-full relative shadow-2xl my-5 lg:my-0" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5 mb-5 lg:mb-0">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{ "ವೀಡಿಯೋ ಪರಿಚಯ" if kannada else "ABOUT THE VIDEO" }}
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto lg:w-192 text-trueGray-400
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{pritxt}}
				</p>
			</div>
		
		{% elseif priaudtxt %}
			<iframe class="w-full h-96" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121064086&color=%23363636&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{ "" if kannada else "ABOUT THE AUDIO" }}
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto lg:w-192 text-trueGray-400
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{priaudtxt}}
				</p>
			</div>

		{% elseif exhibitembed %}
            <div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
					<iframe class="absolute inset-0 w-full h-full"  src="{{exhibitembed[0].privis}}?autoplay=1&loop=1"
					frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
            </div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				{{ "font-baloo" if kannada else "font-trade"}}
				">
				    <a href={{exhibitembed[0].pritxt}} target="_blank">
				        {{ "ಪ್ರದರ್ಶಿಕೆಯನ್ನು ನೋಡಲು ಇಲ್ಲಿ ಕ್ಲಿಕ್‌ ಮಾಡಿ" if kannada else "CLICK HERE TO EXPLORE THE EXHIBIT" }}
				    </a>
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
			</div>

		{% elseif exhibitvideos %}
			<div class="w-full relative shadow-2xl" style="padding-bottom: 56.25%">
				<iframe class="absolute inset-0 w-full h-full"  src="{{exhibitvideos[0].privis}}?autoplay=1&loop=1"
				frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
			</div>
			<div class="mt-5">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				  {{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{ "ವೀಡಿಯೋ ಪರಿಚಯ" if kannada else "ABOUT THE VIDEO"}}
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto text-trueGray-400
				  {{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{exhibitvideos[0].pritxt}}
				</p>
			</div>
		
		{% elseif exhibitimages %}
			<img class="w-full h-auto lg:w-auto lg:ml-20 lg:h-2/3 shadow-2xl" src={{exhibitimages[0].privis}}  oncontextmenu="return false" ondragstart="return false">
			<div class="mt-5 lg:ml-20">
				<h3 class="text-base lg:mt-10 mb-0 font-bold text-white
				  {{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{ "" if kannada else "ABOUT THE IMAGE" }}
				</h3>
				<div class="mb-3 w-10 h-0 border border-solid border-red-650"></div>
				<p class="text-sm w-auto lg:w-192 text-trueGray-400
				  {{ "font-baloo" if kannada else "font-trade"}}
				">
				    {{exhibitimages[0].pritxt}}
				</p>
			</div>
		{% endif %}
		</div>

		
	</div>
</section>


