<div class="section block lg:flex-none lg:flex-col pt-20 pr-10 lg:flex-nowrap  bg-trueGray-750">
   <div class="float-left w-1/2 h-screen px-10 justify-content align-middle">
        <div style="margin-top:15%;">
            <h1 class="font-tunga text-5xl font-bold text-white">ನಿರೂಪಕರೊಡಗೂಡಿದ ಸಂಚಿಕೆಗಳು</h1>
            <h2 class="font-tunga text-lg w-auto my-20 text-white">
                ಸೋಮವಾರದಿಂದ ಗುರುವಾರ : ಸಂಜೆ  5:00 - 7:30 ಪಿ.ಎಂ.ಐ.ಎಸ್.ಟಿ <br>
                ಶುಕ್ರವಾರ : ಮಧ್ಯಾಹ್ನ 2:00  ರಿಂದ ರಾತ್ರಿ 9:00 ಪಿ.ಎಂ.ಐ.ಎಸ್.ಟಿ <br>
                ಶನಿವಾರ ಮತ್ತು ಭಾನುವಾರ : ಬೆಳಿಗ್ಗೆ 9:00 ರಿಂದ ರಾತ್ರಿ 9:00 ಪಿ.ಎಂ.ಐ.ಎಸ್.ಟಿ
            </h2>
            <h1 class="font-t text-4xl text-white">ಸೈನ್‌ ಅಪ್‌</h1>
            <h3 class="font-tunga text-xl text-white my-1"> <a class="underline" href="http://bit.ly/mediator-led-sessions" target="_blank">ಪ್ರತ್ಯೇಕ ವ್ಯಕ್ತಿಗಳು</a> </h3>
            <h3 class="font-tunga text-xl text-white my-1"><a class="underline" href="https://forms.gle/NwaikcrYrGrNMB5p9" target="_blank">ತಂಡ (5 ಜನಕ್ಕಿಂತ ಹೆಚ್ಚು ಸಂಖ್ಯೆ)
            </a></h3>
        </div>
    </div>

   <div class="float-right w-1/2">
    <div class="mt-20" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/546324930?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="MEDIATOR PROGRAMME FINAL 22 -OCT-2020"></iframe></div>
    <p class="font-tunga text-xl mt-10 text-white">ನಮ್ಮ ಮುಂದಿನ ಪ್ರದರ್ಶನದಲ್ಲಿ ನಿರೂಪಕರಾಗಲು ಇಚ್ಛೆ ಇದೆಯೇ? ಹಾಗಾದರೆ <span><a class="underline" href="https://forms.gle/ch6GjCFrXXaFEF4v7" target="_blank">ಇಲ್ಲಿ</a></span> ಸೈನ್‌ ಅಪ್‌ ಆಗಿ. </p>
   </div>
   
</div>



<div class="block w-auto lg:flex-none lg:flex-col lg:flex-nowrap bg-white">        
    <p class="w-144 mx-20 h-screen pt-20 font-tunga text-md" style="margin-top:10%;">ಸಾರ್ವಜನಿಕರು ಭಾಗವಹಿಸುವ ಕಾರ್ಯಕ್ರಮಗಳಲ್ಲಿ, ನಿರೂಪಕರು ಮುಖ್ಯ ಪಾತ್ರ ವಹಿಸುತ್ತಾರೆ ಮತ್ತು ಬೆಂಗಳೂರು ವಿಜ್ಞಾನ ವೇದಿಕೆಯ ಅವಿಭಾಜ್ಯ ಅಂಗವಾಗಿದ್ದಾರೆ: ನಮ್ಮ ಉದ್ದೇಶಿತ ಪ್ರೇಕ್ಷಕ-ಯುವಕರು, ಸಂದರ್ಶನದ ಮೂಲಕ ಕಲಿಯುವುದರ ಜೊತೆಗೆ ಇಡೀ ಪ್ರದರ್ಶನದ ಅನುಭವವನ್ನು ಸಹ ಪಡೆಯುತ್ತಾರೆ.    
        <br><br>
        ನಮ್ಮ ಪ್ರದರ್ಶಿಕೆಗಳು, ಘಟನಾವಳಿಗಳು ಮತ್ತು ಕಲಿಕೆ ಕಾರ್ಯಕ್ರಮಗಳು, ನೀಡುವ ಸ್ಫೂರ್ತಿಯಿಂದಾಗಿ, ಪ್ರತಿಯೊಬ್ಬ ಸಂದರ್ಶಕರೂ ತಮ್ಮ ವಿಚಾರ ವಿಮರ್ಶೆ ಮತ್ತು ಅನುಭೂತಿಗಳನ್ನು ನಿರೂಪಕರೊಡಗೂಡಿದ ಸಂಚಿಕೆಗಳಲ್ಲಿ ಹಂಚಿಕೊಳ್ಳುವಂತಹ ಅವಕಾಶ ದೊರೆಯುತ್ತದೆ. ಮಾರ್ಗದರ್ಶಿ ನಿರೂಪಕರು, ಪ್ರಶ್ನೆಗಳನ್ನು ಕೇಳಲು ಪ್ರೋತ್ಸಾಹಿಸುತ್ತಾರೆ, ವಾದ-ವಿವಾದಗಳನ್ನು, ವಿಮರ್ಶೆಗಳನ್ನು ಹುಟ್ಟು ಹಾಕುತ್ತಾರೆ, ಕಥೆಗಳನ್ನು ಹೇಳುತ್ತಾರೆ ಹಾಗೂ ಪ್ರದರ್ಶನ ಸರಣಿಯ ಮೂಲಕ ವಿವಿಧ ಅನುಭವಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲು ಅವಕಾಶ ಮಾಡಿಕೊಡುತ್ತಾರೆ.
        <br><br>
        ನಮ್ಮ ನಿರೂಪಕರು, 18 ರಿಂದ 29 ವಯೋಮಿತಿ ಯಲ್ಲಿರುವ ಯುವಕರು. ಪ್ರದರ್ಶನ ಸಂಚಿಕೆಗಳು ಕನ್ನಡ ಮತ್ತು ಇಂಗ್ಲಿಷ್‌ ಭಾಷೆಗಳಲ್ಲಿ ಲಭ್ಯವಿರುತ್ತವೆ, ಅಲ್ಲದೇ ಅನ್ಯ ಭಾರತೀಯ ಭಾಷೆಗಳಲ್ಲಿಯೂ ನೆಡೆಸುವ ಸೌಕರ್ಯವಿದೆ. ಮಾರ್ಗದರ್ಶಿ ನಿರೂಪಕರೊಂದಿಗಿನ ಸಂಚಿಕೆಗಳಲ್ಲಿ,  <span><a class="underline" target="_blank" href="http://bit.ly/mediator-led-sessions ">ಈ</a></span> ಮೂಲಕ ಭಾಗವಹಿಸ ಬಹುದು 
    </p>
</div>

<div class="section block lg:flex-none lg:flex-col lg:flex-nowrap  bg-trueGray-750">        
    <div class="float-left w-1/3 h-screen ">
        
        <h2 class="font-tunga text-3xl pl-20 pt-20 text-white" style="margin-top:15%;">
            “ಪ್ರದರ್ಶನವು ಬಹಳ ಅದ್ಭುತವಾಗಿಯೂ, ಚಿಂತನ ಶೀಲವಾಗಿಯೂ ಇತ್ತು. ಪ್ರಜ್ಞಾವಂತ ಮತ್ತು ಉತ್ಸಾಹ ಭರಿತ ನಿರೂಪಕರ ಸಹಯೋಗದಿಂದ, ಪ್ರದರ್ಶನಕ್ಕೆ ಹೆಚ್ಚಿನ ವಿಶೇಷತೆ ಮತ್ತು ಅರ್ಥವು ಲಭಿಸಿದೆ.”
        </h2>
        <h1 class="font-tunga text-xl px-20 pt-10 text-white">
            ಸಬ್ಮರ್ಜ್‌ ಪ್ರದರ್ಶನ ಸಂಚಿಕೆಯ ಸಂದರ್ಶಕರು.
        </h1>
    </div>
    <div class="float-right w-2/3 pt-20 px-20">
        <img src="../../static/img/MS_SEC_VIS_1.jpg" class="h-full w-full" alt="">
        <p class="font-tunga text-xl mt-10 text-white">ಆವೃತ ನಲ್ಲಿ ಸಂದರ್ಶಕರೊಂದಿಗೆ ಪ್ರವಾಹಗಳನ್ನು ಚರ್ಚಿಸುವ ನಿರೂಪಕರು, 2019</p>
    </div>
</div>


<div class="section block lg:flex-none lg:flex-col lg:flex-nowrap  bg-trueGray-750" >        
    <div class="float-left w-1/3 h-screen">
        
        <h2 class="font-tunga text-3xl pl-20 pt-20 text-white" style="margin-top:15%;">
            “ನಿರೂಪಣೆಯಿಂದ, ನಾನು ಮೂರು ವಿಷಯಗಳನ್ನು ಕಲಿತಿದ್ದೇನೆ: ನಿಧಾನವಾಗಿ ಪರಿಶೀಲಿಸುವುದು, ವಿಷಯ ನಿಷ್ಠ ಕಲಿಕೆಯ ವ್ಯಾಪ್ತಿಯನ್ನು ವಿಸ್ತರಿಸುವುದು, ಗಮನಿಸಿ ಜ್ಞಾನವನ್ನು ಪಡೆಯುವುದು.”

        </h2>
        <h1 class="font-tunga text-xl px-20 pt-10 text-white">
            ಮೇಘನಾ ಬಿನ್‌ ರಾಜ್‌, <br>
            ನಿರೂಪಕರು, ಸಬ್ಮರ್ಜ್‌ ಪ್ರದರ್ಶನ ಸಂಚಿಕೆ
        </h1>
    </div>
    <div class="float-right w-2/3 pt-20 px-20">
        <img src="../../static/img/MS_SEC_VIS_2.png" class="h-full w-full" alt="">
        <p class="font-tunga text-xl mt-10 text-white">ಸೋಂಕು ಪ್ರದರ್ಶನದಲ್ಲಿ ನಿರೂಪಕರು
        </p>
    </div>
</div>



<!-- block w-full lg:w-screen lg:flex-none lg:flex-col lg:flex-nowrap lg:pl-20 bg-white -->