<div id="sidenavbar" class="w-full h-16 lg:w-20 inline lg:fixed lg:h-full lg:flex bg-white">
	<nav class="flex my-5 lg:my-0 px-3 lg:px-0 lg:my-px flex-row-reverse lg:flex-col">
		<div id="menu-button" class="lg:p-2 lg:mt-10 w-20 lg:p-1 lg:fixed">
			<div style="  width: 30px; height: 2px; background-color: #2d2d2d; margin: 6px auto;"></div>
			<div style="  width: 30px; height: 2px; background-color: #2d2d2d; margin: 6px auto;"></div>
			<div style="  width: 30px; height: 2px; background-color: #2d2d2d; margin: 6px auto;"></div>
		</div>
		{% if path == 'home' %}
		<p class="lg:transform lg:-rotate-90 w-full text-center lg:my-auto text-xl font-display">
			Contagion
		</p>
		{% elseif path == 'about' %}
		<p class="lg:transform lg:-rotate-90 w-full text-center lg:my-auto text-xl font-display">
			Contagion
		</p>
		{% else %}
		<p class="lg:transform lg:-rotate-90 w-full text-center lg:my-auto text-xl font-display">
			Exhibits
		</p>
		{% endif %}
		
		<div class="h-auto w-20 lg:bottom-0 lg:fixed lg:p-1">
			<a href="/home" >
			<img class="w-20" src="/static/img/SGLogo_Black_Transparent.png"></img>
			</a>
		</div>
	</nav>
</div>
