<section class="w-auto h-full max-h-full pr-20 flex-none bg-trueGray-750">
	<div class = "flex flex-row w-auto h-full pt-36">
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-trueGray-750">
            <iframe class="w-192 h-auto" allowfullscreen="true" style="border:none;" src="{{terpdf}}"></iframe>
            <p class="self-end text-sm pl-10 w-96 font-normal text-white
			  {{ "font-baloo" if kannada else "font-trade" }}
	    ">{{terpdftxt}}</p>
		</div>
	</div>
</section>
