<section class="w-auto h-full max-h-full pr-24 -ml-12 flex-none bg-white">
	<div class = "flex flex-row w-auto h-full pt-36">

		<div class="h-full flex-initial w-192">
			<h2 class="font-bold text-2xl text-trueGray-750 ml-16 pr-10 pb-6 capitalize
			{{"font-tunga" if kannada else "font-trade"}}
			">
				{{
					"ಕೆಲಸದಲ್ಲಿ ಸೂಕ್ಷ್ಮಜೀವಿ ಬೇಟೆಗಾರ"
					if kannada else
					"The microbe hunter at work"
				}}
				
			</h2>
			<p class="text-base xl:text-md ml-16 pr-10 font-normal whitespace-pre-wrap 
			{{"font-tunga" if kannada else "font-trade"}}
			">

				{{
					"ಆಧುನಿಕ ಪೋಲ್ಯಾಂಡ್‌ ನ ಸಣ್ಣ ಉಪನಗರವಾದ ವೋಲ್ಸಿಟೈನ್‌ ನಲ್ಲಿ 14000 ಜನರು ವಾಸವಾಗಿದ್ದಾರೆ. 
					ರಾಬರ್ಟ್‌ ಕೋಕ್ ಅವರು ನಿವಾಸವಿದ್ದ ಬೀದಿಯಲ್ಲಿ ಸುಂದರವಾದ ಚರ್ಚ್‌ ಇದೆ.  1848 ಯಿಂದ 1919
					ಕಾಲಾವಧಿಯಲ್ಲಿ,  ಪ್ರುಸಿಯನ್‌ ಸಾಮ್ರಾಜ್ಯದ ಭಾಗವಾಗಿದ್ದ ಪೊಸೆನ್‌ ಪ್ರಾಂತ್ಯದಲ್ಲಿ ರಾಬರ್ಟ್‌
					ಕೋಕ್ ಏಕೆ ನೆಲೆಸಿದರು ಎಂಬುದು ನಿಗೂಢ ಸಂಗತಿ.  ಬಹುಷಃ ನಿಸರ್ಗದ ಒಡನಾಟ ಅವರ ಇಚ್ಛೆಯಾಗಿರ
					ಬಹುದು.  ಇಲ್ಲಿ, ಜಿಲ್ಲಾ ವೈದ್ಯರಾಗಿದ್ದಾಗ, ರೋಗ ಪಿಡುಗಿನಿಂದ ಹಲವಾರು ಪ್ರಾಣಿಗಳು ಸಾವಿಗೆ
					ತುತ್ತಾದವು. ಈ ಪ್ರಕರಣವನ್ನು ಅನುಸರಿಸಿ, ತಮ್ಮ ಸಂಶೋಧನೆಯ ಮೂಲಕ ಆಂತ್ರಾಕ್ಸ್‌ ಸಾಂಕ್ರಾಮಿಕ
					ರೋಗ ಮತ್ತು ಬ್ಯಾಕ್ಟೀರಿಯಂ ನಡುವಣ ಸಂಬಂಧವನ್ನು 1876ರಲ್ಲಿ ಮೊದಲ ಬಾರಿಗೆ ಸಾಕ್ಷಿ ಸಮೇತ
					ನಿರೂಪಿಸಿದರು.
				  " 
					| safe
					if kannada else
					"<span class='font-bold'>Wolsztyn.</span> Almost 14000 people live in this little town in modern day Poland. A beautiful baroque church catches the eye when one walks down the street, where Robert Koch once lived. It isn’t entirely clear why he was drawn to this town hidden away in the Province of Posen, part of the Prussian empire between 1848 and 1919. Perhaps it was his chance to get closer to nature, his childhood fascination. An epidemic that leaves many animals dead gets him involved as district physician. It was here that Koch, in 1876, provides first evidence of a link between a bacterium and an infectious disease: Anthrax
					"
					| safe
				}}
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-0 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[0].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-28 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[1].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[1].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:pr-8 lg:w-auto lg:ml-28 bg-gray-750 border-r border-trueGray-400">
			<img class="object-contain w-auto h-full" src={{exhibitimages[2].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[2].pritxt}}</p>
		</div>

		<div class="h-full flex-initial w-192">
				<p class="text-base xl:text-md ml-16 pr-10 font-normal whitespace-pre-wrap 
				{{"font-tunga" if kannada else "font-trade"}}
				">
				{{
					"<span class='font-bold'>ಬರ್ಲಿನ್:</span>‌ ಹೊಸ ಚಿಂತನೆಗಳ ಆಗರವಾಗಿರುವ, ಹಿಂದೆ ವಿನಾಶಕ್ಕೆ ಗುರಿಯಾಗಿದ್ದು ಈಗ ಅತಿ ಸಮೃದ್ಧವಾಗಿ ಬೆಳೆದಿರುವ ನಗರ,  ಬರ್ಲಿನ್.‌  3.8   ದಶಲಕ್ಷ ಜನಸಂಖ್ಯೆ ಹೊಂದಿದ್ದು, ಯೋರೋಪ್ ಖಂಡದಲ್ಲೀಯೇ ಎರಡನೇ ಅತಿ ಹೆಚ್ಚು ಜನ ಸಾಂದ್ರತೆಯುಳ್ಳ ನಗರವಾಗಿದೆ.  ಎಲ್ಲ ಬಗೆಯ ಜನರು ಇಲ್ಲಿ ವಾಸವಾಗಿದ್ದಾರೆ, ಕೆಲಸ ಮಾಡುತ್ತಾರೆ.  ಕಾಬಲ್‌ಸ್ಟೋನ್‌ ಬೀದಿಗಳಲ್ಲಿ ಕುದುರೆಗಳ ನೆಡಿಗೆಯ ಸಪ್ಪಳ ಕೇಳುತ್ತಿದ್ದ ಕಾಲವೊಂದಿತ್ತು.  ಈಗ ಆಧುನಿಕ ಇಂಜಿನ್ ಗಳ ಸದ್ದು ಕೇಳಿ ಬರುತ್ತದೆ.   ಎರಡನೇ ವಿಶ್ವ ಯುದ್ಧದಲ್ಲಿ ಅನೇಕ ಭವ್ಯ ಭವನಗಳು ನಾಶವಾಗಿದ್ದರೂ, ಇನ್ನೂ ಹಲವು ಅಂತಹ ಭವನಗಳು ಇಲ್ಲಿ ಇವೆ.  ಅವುಗಳಲ್ಲಿ , ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳ ಬಗೆಗೆ ಸಂಶೋಧನೆ ನೆಡೆಯುವ ಐತಿಹಾಸಿಕ ರಾಯಲ್‌ ಪ್ರಶಿಯನ್‌ ಸಂಸ್ಥೆಯೂ ಸಹ ಒಂದು.   1882 ರಲ್ಲಿ ಏಳರಲ್ಲಿ ಒಬ್ಬರನ್ನು ಬಲಿ ತೆಗೆದು ಕೊಳ್ಳುತ್ತಿದ್ದ ಟ್ಯೂಬರ್‌ ಕ್ಯುಲಾಸಿಸ್‌ ರೋಗದ ಮೂಲ ಕಾರಣವನ್ನು ಪತ್ತೆ ಹಚ್ಚಲು, ರಾಬರ್ಟ್‌ ಕೋಚ್,‌ ಅಪಾರ ಪ್ರಯಾಸ ಪಟ್ಟಿದ್ದರು, ಸಫಲತೆಯನ್ನೂ ಕಂಡರು.  ಅವರ ಪ್ರಯತ್ನದ ಪ್ರತೀಕವಾಗಿ ಈ ಸಂಶೋಧನಾ ಸಂಸ್ಥೆಯನ್ನು ಸ್ಥಾಪಿಸಲಾಯಿತು."
					| safe
					if kannada else
					"<span class='font-bold'>Berlin. </span>A city brimming with ideas, and a rich yet devastating history – it is now the second most populous city in Europe, with almost 3.8 million inhabitants. People from all walks of life, live and work here. The once distinctive sound of trotting on cobblestone streets has now been replaced with modern day engines. Despite several stately buildings being destroyed during the II World War, many still dominate the skyline, including the structures of the historic Royal Prussian Institute for Infectious Diseases. It was established as a research institute for Robert Koch owing to his enormous efforts and success in the identification of the causative agent of a disease, which in 1882 killed one in seven people: Tuberculosis."
					| safe

				}}
			</p>

			
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-0 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[3].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[3].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-28 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[4].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[4].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:pr-4 lg:w-auto lg:ml-28 bg-gray-750 border-r border-trueGray-400">
			<img class="object-contain w-auto h-full" src={{exhibitimages[5].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[5].pritxt}}</p>
		</div>

		<div class="h-full flex-initial w-192">
			<p class="text-base xl:text-md ml-16 pr-10 font-normal whitespace-pre-wrap  
			{{"font-tunga" if kannada else "font-trade"}}
			">
			{{
				"<span class='font-bold'>ಕೊಲ್ಕತ್ತ:</span> ಸಂತಸದ ನಗರವೆಂದೇ ಪ್ರಸಿದ್ಧವಾಗಿರುವ, ಭಾರತದಲ್ಲಿ ಮೂರನೇ ಅತಿ ಹೆಚ್ಚು ಜನ ಸಾಂದ್ರತೆಯುಳ್ಳ ಮಹಾನಗರ.  14 ದಶಲಕ್ಷ ಜನ ಸಂಖ್ಯೆಯನ್ನು ಹೊಂದಿದೆ.  ಕೊಲ್ಕತ್ತ , ಬ್ರಿಟಿಷ್‌ ಸಾಮ್ರಾಜ್ಯದಲ್ಲಿ , ಒಂದು ಶತಮಾನಕ್ಕೂ ಹೆಚ್ಚು ಕಾಲ, ಭಾರತದ ಬ್ರಿಟಿಷ್‌ ಆಡಳಿತ ಪ್ರಾಂತ್ಯಗಳಿಗೆ ಮುಖ್ಯಾಲಯವಾಗಿತ್ತು.  ಕೊಲ್ಕತ್ತದಲ್ಲಿ ಭಾರತದ ಅತಿ ಪುರಾತನ  ಬಂದರು ಇದೆ. ದಿನದಲ್ಲಿ ನಗರವನ್ನು ಒಮ್ಮೆ ಸುತ್ತು ಹಾಕಿದರೆ, ಉದ್ಯಾನದ ಮಧ್ಯದಲ್ಲಿರುವ ವಿಕ್ಟೋರಿಯಾ ಮೆಮೋರಿಯಲ್‌ ತರಹದ ಸುಂದರ ತಾಣಗಳಲ್ಲಿ ವಿಶ್ರಾಂತಿ ಪಡೆಯ ಬಹುದು.  1883ರಲ್ಲಿ, ಖಾಲೆರಾ ಎಂಬ ರೋಗವು ಕೊಲ್ಕತ್ತ ನಗರದ ನಿವಾಸಿಗರನ್ನು   ಮಹಾಮಾರಿಯಾಗಿ ವ್ಯಾಪಿಸಿ ಕಾಡಿದಾಗ, ರಾಬರ್ಟ್‌ ಕೋಕ್ ಅವರು ಇಜಿಪ್ಟ್‌ ನಿಂದ ಭಾರತಕ್ಕೆ ಬರುವಂತಾಯಿತು."
				| safe
				if kannada else
				"<span class='font-bold'>Kolkata. </span>Also known as the city of joy, it is the third most densely inhabited metropolitan city in India, with a suburban population of over 14 million. Under the British Raj, Kolkata becomes the capital of British-held territories in India for over a century, with the Port of Kolkata being the oldest operating port in India. A walk through the city at noon leaves you seeking refuge in one of its beautiful old structures, like the Victoria Memorial, which stands proudly amidst luscious gardens. In 1883, an epidemic which spreads like fire, plagues Kolkata’s inhabitants and prompts Robert Koch to travel from Egypt to India to investigate: Cholera"
				| safe
			}}
			</p>

		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-20 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[6].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[6].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-8 lg:w-auto lg:ml-28 bg-gray-750 border-r border-trueGray-400">
			<img class="object-contain w-auto h-full" src={{exhibitimages[7].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[7].pritxt}}</p>
		</div>
		
		<div class="h-full flex-initial w-192">
			<p class="text-base xl:text-md ml-16 pr-10 font-normal whitespace-pre-wrap 
			{{"font-tunga" if kannada else "font-trade"}}
			">
			{{
				"ಒಂದು ಕಾಲದಲ್ಲಿ ಭಯಾನಕ ವಿಪತ್ತುಗಳಾಗಿ ಸಂಭವಿಸಿದ್ದ ರೋಗ ಪಿಡುಗುಗಳು ಇಂದಿಗೂ ತಮ್ಮದೇ ರೀತಿಯಲ್ಲಿ ವಿಪತ್ತುಗಳಾಗಿಯೇ ಉಳಿದಿವೆ.  ಈಗ ನಾವು ಜಾಗತಿಕ ವಿಶ್ವದಲ್ಲಿ ಇದ್ದೇವೆ.  ಅತಿಯಾದ ನಗರೀಕರಣದ ಫಲಸ್ವರೂಪವಾಗಿ, ಮಹಾ ನಗರಗಳು ಅಸ್ಥಿತ್ವಕ್ಕೆ ಬಂದಿವೆ. ಹಿಂದೆಂದೂ ಕಾಣದ ಅಂತರ್ರಾಷ್ಟ್ರೀಯ ಮಟ್ಟದ  ಪ್ರಯಾಣ ಪ್ರವಾಸಗಳನ್ನು ಕಾಣುತ್ತಿದ್ದೇವೆ.  ರಾಬರ್ಟ್‌ ಕೋಕ್  ಅಂತಹವರಿಗೆ ವಾರಗಳೇ ಹಿಡಿದಿದ್ದ ಪ್ರಯಾಣವನ್ನು ನಾವು ಕೆಲವೇ ಗಂಟೆಗಳಲ್ಲಿ ಪೂರೈಸಲು ಸಾಧ್ಯವಾಗುತ್ತಿದೆ. 1883  ರಲ್ಲಿ, ಬಡವರ ರೋಗವೆಂದೇ ಪ್ರಸಿದ್ಧವಾಗಿದ್ದಂತಹ ಖಾಲೆರಾ ರೋಗ ಪಿಡುಗು ಭಾರತದಿಂದ ಯೂರೋಪ್‌ ವರೆಗೂ ಹೇಗೆ ಸಂವನವಾಯಿತು ಎಂದು ರಾಬರ್ಟ್‌ ಕೋಚ್ ಅವರು‌ , ಸಂಭಾವ್ಯ ಸಮುದ್ರ ಮಾರ್ಗಗಳ ನಕ್ಷೆಯನ್ನು ರಚಿಸಿದ್ದರು.  ರಾಬರ್ಟ್‌ ಕೋಕ್ ಸಂಸ್ಥೆಯ ವಿಜ್ಞಾನಿಗಳು ಇಂದಿನ ದಿನಗಳಲ್ಲಿ, ವಾಯು ಮಾರ್ಗದಲ್ಲಿ ವಿಶ್ವದೆಲ್ಲೆಡೆ ಹರಡ ಬಹುದಾದ ಮಾರಣಾಂತಕ ವೈರಸ್‌ ಗಳ ಸಂವಹನದ ನಕ್ಷೆಗಳನ್ನು ಪತ್ತೆ ಮಾಡುವ ಕಾರ್ಯದಲ್ಲಿ ತೊಡಗಿದ್ದಾರೆ."
				if kannada else
				"The threats that were once formidable continue to remain threats, each in their own measure. We now live in a global world. Increased urbanization has led to megacities, and international mobility is on a scale never seen before. A journey that took Robert Koch a  few weeks to complete now takes us a few hours. Even back in 1883, Robert Koch sketched out the most probable sea routes by which cholera, then thought of as a disease of the poor, was likely to find its way to the heart of Europe. Today scientists at the Robert Koch-Institute simulate the potential routes of deadly viruses via air traffic worldwide."

			}}
			</p>

		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml- bg-gray-750">
			<iframe class="w-192 h-full bg-black" src={{exhibitvideos[0].privis}}
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitvideos[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:pr-4 lg:w-auto lg:ml-4 bg-gray-750 border-r border-trueGray-400">
			<iframe class="w-192 h-full" src={{exhibitvideos[1].privis}}
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750  -ml-24">{{exhibitvideos[1].pritxt}}</p>
		</div>

		<div class="h-full flex-initial w-192">
			<p class="text-base xl:text-md ml-16 pr-10 font-normal whitespace-pre-wrap
			{{"font-tunga" if kannada else "font-trade"}}
			">

				{{
					"  ರಾಬರ್ಟ್‌ ಕೋ ಕ್ ಅವರ ಕೊಡುಗೆಯು , ಸಾಂಕ್ರಾಮಿಕ ವ್ಯಾಪನಗಳ ಬಗೆಗೆ ನಮ್ಮ ದೃಷ್ಟಿಕೋನವನ್ನೇ ಬದಲಿಸಿದೆ.  ಹಿಂದಿನ ಶತಮಾನದಲ್ಲಿ, ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳನ್ನು ಎದುರಿಸುವ ಮಾರ್ಗಗಳನ್ನು ಕಂಡುಕೊಂಡಿದ್ದೇವೆ.  ಆದರೆ, ಆಂತ್ರಾಕ್ಸ್‌, ಟ್ಯೂಬರ್ ಕ್ಯುಲೋಸಿಸ್‌ ಮತ್ತು ಖಾಲೆರಾ ಅಂತಹ ರೋಗಗಳು ಮಾನವರ ಅಸ್ಥಿತ್ವಕ್ಕೆ ಮಾರಣಾಂತಕವಾಗಿ ಉಳಿದಿಲ್ಲವೇನೋ ಅನ್ನಿಸುತ್ತದೆ ? 
					<br><br>

					1918 ರಲ್ಲಿ ಸಂಭವಿಸಿದ ಅತ್ಯಂತ ದೊಡ್ಡ ರೋಗ ಪಿಡುಗು ಸ್ಪ್ಯಾನಿಷ್‌ ಫ್ಲೂ ವಿನ ಬಳಿಕ  2019 ರ ಅಂತ್ಯದಲ್ಲಿ ವಿಶ್ವವನ್ನು ಅಪ್ಪಳಿಸಿರುವ ಕೋವಿಡ್‌-19, 100 ದಶ ಲಕ್ಷಕ್ಕೂ ಹೆಚ್ಚು ಜನರನ್ನು ಪೀಡಿಸಿದೆ ಹಾಗೂ ವಿಶ್ವದೆಲ್ಲೆಡೆ, 2.5 ದಶ ಲಕ್ಷ ಜನರು ಸಾವನ್ನಪ್ಪಿದ್ದಾರೆ.  
					<br><br>
				  
					ಸಾಕ್ಷಿ ಆಧಾರಿತ ವಿಜ್ಞಾನ ಮತ್ತು ಲಸಿಕೆಗಳ ಅವಿಶ್ಕಾರದ ಮೂಲಕ ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳನ್ನು ಸಮರ್ಪಕವಾಗಿ ತಡೆಗಟ್ಟ ಬಹುದು. ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳ ನಿವಾರಕ ಔಷಧಿಗಳನ್ನು ಪಡೆದಿರುವ ನಾವು, ಇಂತಹ ಬೃಹದಾಕಾರದ ಗಟ್ಟಿ ನಿಲುವಿನಲ್ಲಿ ಬಿರುಕುಗಳು ಗೋಚರಿಸಿದಾಗ, ನಿಜವಾಗಲೂ ಎಷ್ಟು ಚಿಂತಿಸ ಬೇಕು?  ಈ ಬಿರುಕುಗಳನ್ನು ಸರಿಪಡಿಸದೇ ಇರುವ ಸಂದರ್ಭ ಒದಗಿದರೆ ಏನು ಮಾಡ ಬೇಕು?  ಇಂದು ಬಹಳ ಜನರು ವಿಜ್ಞಾನದ ಸಾಕ್ಷಿ ಆಧಾರಿತ ಅರಿವಿನ ಬಗೆಗೆ ತಮ್ಮ ವಿಶ್ವಾಸವನ್ನು ಕಳೆದುಕೊಂಡಿದ್ದಾರೆ. ನಮ್ಮ ಆಂತರಿಕ ಭೀತಿ ಮತ್ತು ಭಾವನೆಗಳನ್ನು ಜೊತೆಗೆ ಆಟ ಆಡುವ ಸುಳ್ಳು ಸುದ್ದಿಗಳು ಮತ್ತು ವದಂತಿಗಳನ್ನು ನಂಬುವಷ್ಟು ಸುಲಭವಾಗಿ ಸಾಕ್ಷಿ ಆಧಾರಿತ ಜ್ಞಾನವನ್ನು ಜನರು ಸ್ವೀಕರಿಸುವುದಿಲ್ಲ.  ಈ ಸಾಂಕ್ರಾಮಿಕ ರೋಗಗಳನ್ನು ಎದುರಿಸುವ ನಿಟ್ಟಿನಲ್ಲಿ, ನಮ್ಮ ಶಕ್ತಿಶಾಲಿ ಸಹಚರರ ವಿರುದ್ಧ ಸೆಣೆಸಾಡುತ್ತಿದ್ದೇವೆಯೇ ಮತ್ತು ಅಪನಂಬಿಕೆಯ ಸಾಂಕ್ರಾಮಿಕತೆಯು ಮಾರಣಾಂತಕ ವೈರಾಣುವಿಗಿಂತಲೂ ಹೆಚ್ಚು ರಬಸಸವಾಗಿ ಹರಡುತ್ತಿದೆಯೇ?"
					| safe
					if kannada else
					"Robert Koch’s work changed the way we look at contagion and in the last century we have found ways to fight infectious diseases. But what if diseases like anthrax, tuberculosis and cholera are not the biggest threats to our existence anymore?<br><br>

					In late 2019 the world was hit by the largest pandemic since the Spanish flu of 1918. COVID-19 has resulted in more than a 100 milliion cases and cost over 2.5 million lives worldwide.<br><br>
					
					Evidence-based science and vaccination remain the most effective ways of preventing and treating infection. So how worried should we really be, when we start to see the cracks in these concrete structures now holding the world of infectious medicine together? What should we do when we find that the rate at which these cracks get bigger surpasses our ability to fix them? Today, many have lost faith in science, and evidence-based knowledge appears less likely to be accepted than fake news and rumours which often feed on our inner fears and emotions. Have we gone against our most powerful allies in the battle against infectious disease and is this contagion of disbelief spreading faster than a deadly virus?" 
					| safe 
				}}
				
			</p>

			
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-20 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[0].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-28 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[1].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[1].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-8 pr-8 mx-auto lg:p-0 lg:w-auto lg:ml-28 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[2].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-4 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[2].pritxt}}</p>
		</div>
		


	</div>

</section>
