<section class="w-auto h-full max-h-full pr-20 flex-none bg-white">
	<div class = "flex flex-row w-auto h-full pt-36">
		<div class="h-full flex-initial w-240">
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			<span class="font-bold">Wolsztyn.</span> Almost 14000 people live in this little town in modern day Poland. A beautiful baroque church catches the eye when one walks down the street, where Robert Koch once lived. It isn’t entirely clear why he was drawn to this town hidden away in the Province of Posen, part of the Prussian empire between 1848 and 1919. Perhaps it was his chance to get closer to nature, his childhood fascination. An epidemic that leaves many animals dead gets him involved as district physician. It was here that Koch, in 1876, provides first evidence of a link between a bacterium and an infectious disease: Anthrax
			</p>
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			(Photos: Koch’s house in Wolsztyn, Koch’s anthrax sketch, Kochs microscopic anthrax  image) 
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[0].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[1].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[1].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[2].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[2].pritxt}}</p>
		</div>
		<div class="h-full flex-initial w-240">
				<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
				<span class="font-bold">Berlin. </span>A city brimming with ideas, and a rich yet devastating history – it is now the second most populous city in Europe, with almost 3.8 million inhabitants. People from all walks of life, live and work here. The once distinctive sound of trotting on cobblestone streets has now been replaced with modern day engines. Despite several stately buildings being destroyed during the II World War, many still dominate the skyline, including the structures of the historic Royal Prussian Institute for Infectious Diseases. It was established as a research institute for Robert Koch owing to his enormous efforts and success in the identification of the causative agent of a disease, which in 1882 killed one in seven people: Tuberculosis.
			</p>

			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			(Photos: Koch’s manuscript in which he describes the etiology of TB, Tuberculin bottles  from Koch, Risk communication – spread of TB)  
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[3].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[3].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[4].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[4].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[5].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[5].pritxt}}</p>
		</div>
		<div class="h-full flex-initial w-240">
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap"><span class="font-bold">	Kolkata. </span>Also known as the city of joy, it is the third most densely inhabited metropolitan city in India, with a suburban population of over 14 million. Under the British Raj, Kolkata becomes the capital of British-held territories in India for over a century, with the Port of Kolkata being the oldest operating port in India. A walk through the city at noon leaves you seeking refuge in one of its beautiful old structures, like the Victoria Memorial, which stands proudly amidst luscious gardens. In 1883, an epidemic which spreads like fire, plagues Kolkata’s inhabitants and prompts Robert Koch to travel from Egypt to India to investigate: Cholera
				</p>

			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
		(Photos: Koch’s cholera map (tracing sea routes of transmission), city map of Kolkata  during Koch’s time) 
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[6].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[6].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages[7].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages[7].pritxt}}</p>
		</div>
		
		<div class="h-full flex-initial w-240">
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			The threats that were once formidable continue to remain threats, each in their own measure. We now live in a global world. Increased urbanization has led to megacities, and international mobility is on a scale never seen before. A journey that took Robert Koch a  few weeks to complete now takes us a few hours. Even back in 1883, Robert Koch sketched out the most probable sea routes by which cholera, then thought of as a disease of the poor, was likely to find its way to the heart of Europe. Today scientists at the Robert Koch-Institute simulate the potential routes of deadly viruses via air traffic worldwide.
			</p>

			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
(Simulation (Dirk Brockmann) World air traffic, potential routes of deadly viruses)
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<iframe class="w-192 h-full" src={{exhibitvideos[0].privis}}
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitvideos[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<iframe class="w-192 h-full" src={{exhibitvideos[1].privis}}
			frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitvideos[1].pritxt}}</p>
		</div>

		<div class="h-full flex-initial w-240">
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			Robert Koch’s work changed the way we look at contagion and in the last century we have
found ways to fight infectious diseases. But what if diseases like anthrax, tuberculosis and
cholera are not the biggest threats to our existence anymore?

In late 2019 the world was hit by the largest pandemic since the Spanish flu of 1918.
COVID-19 has resulted in more than a 100 million cases and cost over 2.5 million lives
worldwide. Evidence-based science and vaccination remain the most effective ways of preventing and treating infection. So how worried should we really be, when we start to see the cracks in these concrete structures now holding the world of infectious medicine together? What should we do when we find that the rate at which these cracks get bigger surpasses our
ability to fix them? Today, many have lost faith in science, and evidence-based knowledge
Robert Koch was the first to provide bacteriological proof that locally-occurring cholera outbreaks were caused by poor water quality.

In 1883, Robert Koch sketched out the most probable sea routes by which cholera was
likely to be transmitted to Europe. It appears less likely to be accepted than fake news and rumours which often feed on our inner fears and emotions. Have we gone against our most powerful allies in the battle against infectious disease and is this contagion of disbelief spreading faster than a deadly virus?

			</p>

			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
			(Photos: Crisis communication RKI examples….  )
			</p>
		</div>	
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[0].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[0].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[1].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[1].pritxt}}</p>
		</div>
		<div class="flex flex-row flex-none w-auto h-5/6 pl-12 pr-12 mx-auto lg:p-0 lg:w-auto lg:ml-40 bg-gray-750">
			<img class="object-contain w-auto h-full" src={{exhibitimages2[2].privis}} oncontextmenu="return false" ondragstart="return false">	
			<p class="self-end text-sm pl-10 w-96 font-normal font-trade text-trueGray-750">{{exhibitimages2[2].pritxt}}</p>
		</div>
		<div class="h-full flex-initial w-240">
			<p class="text-base xl:text-lg ml-32 pr-16 font-trade font-normal whitespace-pre-wrap">
The Robert Koch Institute, as a National Public Health Institute, faces many new challenges but remains a pillar of knowledge, evidence-based research,  communication and surveillance of public health. We connect with international  players in a quest to find solutions for global health problems.
			</p>

		</div>	


	</div>

</section>
