<section id="takeitfurther" class="block w-screen lg:w-auto h-auto mb-20 lg:mb-0 lg:flex lg:flex-none lg:p-36 bg-white">

	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Read</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>

		{% for links in readinglist -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadreadvis %}
			<img src={{links.quadreadvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadreadlink}}"><span>{{links.quadreadtxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>

	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Listen</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>

		{%- for links in listeninglist -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadlistvis %}
			<img src={{links.quadlistvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadlistlink}}"><span>{{links.quadlisttxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>	
	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Watch</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>
		{%- for links in watchinglist -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadwatchvis %}
			<img src={{links.quadwatchvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadwatchlink}}"><span>{{links.quadwatchtxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>
	{% if play %}
	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Play</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>
		{%- for links in play -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadplayvis %}
			<img src={{links.quadplayvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadplaylink}}"><span>{{links.quadplaytxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>
	{% endif %}	

	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Related Exhibits</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>
		{%- for links in relatedlist -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadrelatedvis %}
			<img src={{links.quadrelatedvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadrelatedlink}}"><span>{{links.quadrelatedtxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>	
	<div class="mx-1 w-screen lg:w-96">
		<h3 class="mb-0 text-black font-bold font-trade">Attend</h3>
		<div class="mb-10 w-1/4 border border-red-650 h-0"></div>
		{%- for links in eventlist -%}	
		<div class="max-w-full flex flex-none h-32 border border-black-500 lg:mx-0 mb-3 rounded-lg">
			{% if links.quadeventvis %}
			<img src={{links.quadeventvis}} alt="" class="w-1/3 h-auto">
			{% endif %}
			<div class="m-3 w-auto flex flex-row">
				<a class="text-sm w-11/12" href="{{links.quadeventlink}}"><span>{{links.quadeventtxt}}</span></a>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-1/12 mt-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
				</svg>
			</div>
		</div>
		{%- endfor -%}	
	</div>	

</section>
