<section id="process" class="w-auto h-full max-h-full pl-20 flex-none bg-trueGray-750">
	<div class = "flex flex-row w-auto h-full pt-36">
            <div class="flex flex-row flex-none w-auto h-5/6  pl-12 pr-12 mx-auto lg:p-0 lg:w-auto bg-trueGray-750">
                <iframe id="iframe2020" class="shadow-2xl w-192 h-full" src={{tervis}}
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>	
                <p class="self-end text-sm pl-10 w-96 font-normal text-white
		  {{ "font-tunga" if kannada else "font-trade" }}
		">{{tertxt}}</p>
            </div>
	</div>

</section>
